<div layout="row" layout-align="start center">
    <div flex><p>Duration</p><small>Hint:Form Status</small></div>
    <div flex>
        <div layout="row" layout-align="start center">
            <div flex>
                <md-switch class="md-primary" ng-model="setting.condition" aria-label="Auto Complete"></md-switch>
            </div>
            <div flex>
                <md-input-container class="autocomplete">
                    <input type="number" step="any" name="timer" min="1" max="200" ng-model="setting.time" ng-disabled="!setting.condition" aria-label="Auto Complete"/>
                </md-input-container>
            </div>
            <div flex>
                min
            </div>
        </div>
    </div>
</div>
