<div class="admin_layout" md-theme="mytheme">
    <div class="publish_layout">
        <div class="actions-table">
            <div layout="row" class="table-head">
                <div flex="10">
                    Sl.No
                </div>
                <div flex="40">
                    User Name
                </div>
                <div flex="30">
                    Access Type
                </div>

                <div flex="20">
                    Action
                </div>
            </div>
            <div layout="row" class="table-row">
                <div flex="10">
                    1
                </div>
                <div flex="40">
                    Amit
                </div>
                <div flex="30">
                    Admin
                </div>
                <div flex="20">
                    <md-button class="md-icon-button" aria-label="delete">
                        <md-tooltip md-direction="bottom">Delete</md-tooltip>
                        <md-icon md-svg-icon="../../asset/img/md-icons/svg/ic_delete_black_24px.svg"></md-icon>
                    </md-button>
                </div>
            </div>
                    <div layout="row" class="table-row">
                        <div flex="10">
                            2
                        </div>
                        <div flex="40">
                            Sanjay Kumar
                        </div>
                        <div flex="30">
                            Viewer
                        </div>
                        <div flex="20">
                            <md-button class="md-icon-button" aria-label="delete">
                                <md-tooltip md-direction="bottom">Delete</md-tooltip>
                                <md-icon md-svg-icon="../../asset/img/md-icons/svg/ic_delete_black_24px.svg"></md-icon>
                            </md-button>
                        </div>
                    </div>
            <div layout="row" class="table-row">
                <div flex="10">
                    3
                </div>
                <div flex="40">
                    Surya
                </div>
                <div flex="30">
                    Collaborator
                </div>
                <div flex="20">
                    <md-button class="md-icon-button" aria-label="delete">
                        <md-tooltip md-direction="bottom">Delete</md-tooltip>
                        <md-icon md-svg-icon="../../asset/img/md-icons/svg/ic_delete_black_24px.svg"></md-icon>
                    </md-button>
                </div>
            </div>

                    <div layout="row" class="table-row">
                        <div flex="20">
                            <md-button class="md-icon-button" aria-label="add">
                                <md-tooltip md-direction="bottom">Add User</md-tooltip>
                                <md-icon class="md-primary" md-svg-icon="../../asset/img/md-icons/svg/ic_add_circle_black_24px.svg"></md-icon>
                            </md-button>
                            Add User
                        </div>
                    </div>


            <div class="">
            </div>
                </div>
            </div>
        </div>