<div class="slide_layout" md-theme="mytheme">
    <div class="publish_layout">
        <div class="sharelink_block">
            <div class="Auidience_text">
                <div class="title">Appearance</div>
                <small>Hint:Any Text</small>
            </div>

            <div class="audience_type">

                <md-radio-group ng-model="buildQuestionsObj.usertype">
                    <md-radio-button value="regUser" class="md-primary">Only Registered Users</md-radio-button>
                    <md-radio-button value="anonymous" class="md-primary">Anonymous Submission</md-radio-button>
                    <md-radio-button value="unique" class="md-primary" disabled="true">Unique Submission- <small>Restration plus only one time submission</small></md-radio-button>
                    <md-radio-button value="regOpt" class="md-primary" disabled="true">Optionally Registered Users</md-radio-button>
                </md-radio-group>
            </div>

        </div>
    </div>
</div>