<div class="email_layout" md-theme="mytheme">
    <div class="publish_layout">
        <div class="email_table">
            <div layout="row" class="table-head">
                <div flex="10">
                    Sl.NO
                </div>
                <div flex="30">
                    Email Subject
                </div>
                <div flex="20">
                    To
                </div>
                <div flex="15">
                    CC
                </div>
                <div flex="15">
                    BCC
                </div>
                <div flex="10">
                   Action
                </div>
            </div>
            <div layout="row" class="table-row">
                <div flex="10">
                    1
                </div>
                <div flex="30">
                    Thanks for your response
                </div>
                <div flex="20">
                    Amit,Sunil,mrs..
                </div>
                <div flex="15">
                    Sanjay,Anil,r..
                </div>
                <div flex="15">
                    abhishek
                </div>
                <div flex="10">
                    <md-button class="md-icon-button" aria-label="edit">
                        <md-tooltip md-direction="bottom">Edit</md-tooltip>
                        <md-icon md-svg-icon="../../asset/img/md-icons/svg/ic_mode_edit_black_24px.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="delete">
                        <md-tooltip md-direction="bottom">Delete</md-tooltip>
                        <md-icon md-svg-icon="../../asset/img/md-icons/svg/ic_delete_black_24px.svg"></md-icon>
                    </md-button>
                </div>
            </div>
            <div layout="row" class="table-row">
                <div flex="10">
                    2
                </div>
                <div flex="30">
                    Interview feedback by Amit for FullStack UX
                </div>
                <div flex="20">
                    Ajinkya,Surya,kundan..
                </div>
                <div flex="15">
                    Ashwin,Anavar,r..
                </div>
                <div flex="15">
                    abhishek
                </div>
                <div flex="10">
                    <md-button class="md-icon-button" aria-label="edit">
                        <md-tooltip md-direction="bottom">Edit</md-tooltip>
                        <md-icon md-svg-icon="../../asset/img/md-icons/svg/ic_mode_edit_black_24px.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="delete">
                        <md-tooltip md-direction="bottom">Delete</md-tooltip>
                        <md-icon md-svg-icon="../../asset/img/md-icons/svg/ic_delete_black_24px.svg"></md-icon>
                    </md-button>
                </div>
            </div>
            <div layout="row" class="table-row">
                <div flex="20">
                    <md-button class="md-icon-button"  ng-click="partials/buildpop_templates/Formtemplates/emailNotification.html" aria-label="add">
                        <md-tooltip md-direction="bottom">Add Email Template</md-tooltip>
                        <md-icon class="md-primary" md-svg-icon="../../asset/img/md-icons/svg/ic_add_circle_black_24px.svg"></md-icon>
                    </md-button>
                    Add Email Template
                </div>
            </div>
        </div>
        </div>
</div>