<ng-form name="emailForm">
    <md-input-container>
        <input class="md-accent hue-2" name="email" ng-model="question.response" ng-pattern="/^.+@.+\..+$/" placeholder="{{question.placeholder}}" type="{{question.answertype}}" ng-required="{{question.validations.mustanswer.condition}}" ng-keydown="keypress($event)">
        <md-button class="tick md-icon-button md-primary hue-2" aria-label="Tick" ng-click="questionsObj.next()" ng-disabled="!emailForm.email.$valid">
            <md-icon md-svg-icon="../../asset/img/md-icons/svg/ic_check_circle_black_24px.svg"></md-icon>
        </md-button>
        <div ng-messages="emailForm.email.$error" ng-show="emailForm.email.$dirty">
            <div ng-message="required">{{question.validations.mustanswer.text}}</div>
            <div ng-message="md-pattern">Please enter valid email!</div>
        </div>
    </md-input-container>
</ng-form>
