<div class="smiley-rating">
    <div class="smiley">
        <div class="verypoor"></div>
        <p class="smiley_content">Very poor</p>
    </div>
    <div class="smiley">
        <div class="poor"></div>
        <p class="smiley_content">Poor</p>
    </div>
    <div class="smiley">
        <div class="average"></div>
        <p class="smiley_content">Average</p>
    </div>
    <div class="smiley">
        <div class="good"></div>
        <p class="smiley_content">Good</p>
    </div>
    <div class="smiley">
        <div class="excellent"></div>
        <p class="smiley_content">Excellent</p>
    </div>
</div>