<ng-form name="textAreaForm" ng-repeat="option in question.options">
    <md-input-container>
        <label>{{option.placeholder}}</label>
        <textarea name="textarea" ng-model="option.value" rows="2" ng-required="{{question.validations.mustanswer.condition}}" md-maxlength="{{question.validations.maxlength.condition}}"></textarea>
        <md-button class="tick md-icon-button md-primary hue-2" aria-label="Tick" ng-click="questionsObj.next()" ng-disabled="!textAreaForm.textarea.$valid" ng-if="$last">
            <md-icon md-svg-icon="../../asset/img/md-icons/svg/ic_check_circle_black_24px.svg"></md-icon>
        </md-button>
        <md-button class="tick md-icon-button md-primary hue-2" aria-label="Tick" ng-click="questionsObj.nextTab()" ng-disabled="!textAreaForm.textarea.$valid" ng-if="!$last">
            <md-icon md-svg-icon="../../asset/img/md-icons/svg/ic_check_circle_black_24px.svg"></md-icon>
        </md-button>
        <div ng-messages="textAreaForm.textarea.$error" ng-show="textAreaForm.textarea.$dirty">
            <div ng-message="required">{{question.validations.mustanswer.text}}</div>
            <div ng-message="md-maxlength">{{question.validations.maxlength.text}}</div>
            <div ng-message="minlength">{{question.validations.minlength.text}}</div>
        </div>
    </md-input-container>
</ng-form>