<div class="interview">
    <webcam channel="myChannel" on-stream="onstream(stream)" on-streaming="onSuccess()" on-error="onError(err)" placeholder="'loader.gif'"></webcam>
    <img src="../../asset/img/video-interview.jpg" />
    <md-button class="start-interview md-raised md-primary md-hue-1 noPreventDefault" ng-click="startCam($event)">{{question.placeholder}}</md-button>
    <video id="playRecVid"></video>
    <md-button class="md-fab record md-primary" aria-label="Record" ng-click="record($event)">
        <md-icon md-svg-src="../../asset/img/md-icons/svg/ic_play_arrow_black_24px.svg"></md-icon>
    </md-button>
    <md-button class="md-fab stop md-primary" aria-label="Stop Record" ng-click="stopRecord($event)">
        <md-icon md-svg-src="../../asset/img/md-icons/svg/ic_stop_black_24px.svg"></md-icon>
    </md-button>
    <md-button class="md-fab mute md-primary" aria-label="Mute" ng-click="mute($event)">
        <md-icon md-svg-src="../../asset/img/md-icons/svg/ic_mic_black_24px.svg"></md-icon>
    </md-button>
    <md-button class="md-fab unmute md-primary" aria-label="Un Mute" ng-click="unmute($event)">
        <md-icon md-svg-src="../../asset/img/md-icons/svg/ic_mic_off_black_24px.svg"></md-icon>
    </md-button>
</div>