<div ng-controller="buildCtrl" md-swipe-up="onSwipeUp()" md-swipe-down="onSwipeDown()">
    <div class="md-card">
        <div class="progressContainer">
            <div class="status col-xs-12 text-center font-color-aaa font-size-10"> {{buildQuestionsObj.activeNow}} out of {{buildQuestionsObj.maxCount}}</div>
            <md-progress-linear class="md-warn md-hue-1" md-mode="determinate" value="{{buildQuestionsObj.percentComplete()}}" aria-valuemin="{{buildQuestionsObj.minCount}}" aria-valuemax="{{buildQuestionsObj.maxCount}}"></md-progress-linear>
        </div>
        <div class="apply-questions-container">
            <md-card ng-repeat="question in buildQuestionsObj.questions" ng-class="{slideactive: $last, slideleft: !$last}">  
                <question class="question-slide col-xs-12 col-md-8 col-md-offset-2 text-center">
                </question>
            </md-card>
        </div>
        <div class="navigation-slide">
            <md-card class="add-slide" ng-click="addSlide()"></md-card>
        </div>
    </div>
</div>