<div id="slide-{{question.id}}" class="questionPanel" data-question-id="{{question.id}}" ng-if="question.answertype != 'statement'">
    <div contenteditable ng-model="question.category" data-contenttype="category" class="category col-xs-12 text-center font-color-222 font-size-14" context-menu="menuOptions()" ng-mousedown="setcursorposition($event)" ng-mouseup="setcursorposition($event)" ng-keydown="setcursorposition($event)" ng-keyup="setcursorposition($event)">{{question.category}}</div>
    <div class="questionContainer">
        <h2 class="question font-size-24 font-color-000" data-contenttype="question" contenteditable ng-model="question.question" context-menu="menuOptions()" ng-mousedown="setcursorposition($event)" ng-mouseup="setcursorposition($event)" ng-keydown="setcursorposition($event)" ng-keyup="setcursorposition($event)">{{question.question}}</h2>
    </div>
    <div class="answerContainer">
        <p class="caption font-color-666 font-size-14" data-contenttype="caption" contenteditable ng-model="question.caption" context-menu="menuOptions()" ng-mousedown="setcursorposition($event)" ng-mouseup="setcursorposition($event)" ng-keydown="setcursorposition($event)" ng-keyup="setcursorposition($event)">{{question.caption}}</p>
        <div class="inputContainer {{question.answertheme}}_class">
            <ng-include src="dynamicTemplateUrl(question)"></ng-include>
        </div>
        <p class="hint font-color-666 font-size-12" data-contenttype="hint" contenteditable ng-model="question.hint" context-menu="menuOptions()" ng-mousedown="setcursorposition($event)" ng-mouseup="setcursorposition($event)" ng-keydown="setcursorposition($event)" ng-keyup="setcursorposition($event)">Hint: {{question.hint}}</p>
    </div>
</div>
<div id="slide-{{question.id}}" class="questionPanel" data-question-id="{{question.id}}" ng-if="question.answertype == 'statement'">
    <ng-include src="dynamicTemplateUrl(question)"></ng-include>
</div>