<div class="build" ng-controller="buildCtrl">
    <div class="md-card">
        <div class="master-settings container">
            <div class="row">
                <div flex class="project-title">
                    <md-input-container style="margin-top:0;">
                        <input class="md-accent hue-2" ng-model="buildQuestionsObj.name" placeholder="My PapForm" type="text">
                    </md-input-container>
                </div>
                <div flex class="more-options">
                    <ul>
                        <li ng-click="buildpopup($event, 'FormSettings')">
                            <md-tooltip md-direction="bottom">Form Settings</md-tooltip>
                            <md-button class="md-icon-button" aria-label="settings">
                                <md-icon title="Form Settings" md-svg-icon="../../asset/img/md-icons/svg/ic_settings_black_24px.svg"></md-icon>
                            </md-button>
                            <span>Form Settings</span>
                        </li>
                        <li>
                            <md-tooltip md-direction="bottom">Themes</md-tooltip>
                            <md-button class="md-icon-button" aria-label="themes">    
                                <md-icon title="Themes" md-svg-icon="../../asset/img/md-icons/svg/themes.svg"></md-icon>
                            </md-button>
                            <span>Themes</span>
                        </li>
                        <li class="club" ng-click="buildpopup($event, 'Addviaslide')">
                            <md-tooltip md-direction="bottom">Add slides via</md-tooltip>
                            <span>Add slides via</span> 
                            <md-button class="md-icon-button" aria-label="add slides">
                                <md-icon title="Add slides via" md-svg-icon="../../asset/img/md-icons/svg/code.svg"></md-icon>
                            </md-button>
                            <md-button class="md-icon-button" aria-label="add slides">
                                <md-icon title="Add slides via" md-svg-icon="../../asset/img/md-icons/svg/doc.svg"></md-icon>
                            </md-button>
                        </li>
                        <li ng-click="buildpopup($event, 'makeQuiz')">
                            <md-tooltip md-direction="bottom">Make Quiz</md-tooltip>
                            <md-button class="md-icon-button" aria-label="quiz">
                                <md-icon title="Make Quiz" md-svg-icon="../../asset/img/md-icons/svg/quiz.svg"></md-icon>
                            </md-button>
                            <span>Make Quiz</span> 
                        </li>
                        <li ng-click="buildpopup($event, 'Workflow')">
                            <md-tooltip md-direction="bottom" >Workflows</md-tooltip>
                            <md-button class="md-icon-button" aria-label="themes">
                                <md-icon title="Workflows" md-svg-icon="../../asset/img/md-icons/svg/work-flow.svg"></md-icon>
                            </md-button>
                            <span> Workflows</span> 
                        </li>
                        <li>
                            <md-tooltip md-direction="bottom">Payments</md-tooltip>
                            <md-button class="md-icon-button" aria-label="themes">
                                <md-icon title="Payments" md-svg-icon="../../asset/img/md-icons/svg/ic_payment_black_24px.svg"></md-icon>
                            </md-button>
                            <span>Payments</span> 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="progressContainer">
            <div class="status col-xs-12 text-center font-color-aaa font-size-10"> {{buildQuestionsObj.activeNow}} out of {{buildQuestionsObj.maxCount()}}</div>
        </div>
        <div class="apply-questions-container {{buildQuestionsObj.theme}}" ng-swipe-left="onSwipeLeft()" ng-swipe-right="onSwipeRight()">
            <flip class="flip noPreventDefault" ng-class="{slideactive:buildQuestionsObj.activeNow == 0, slideleft: buildQuestionsObj.activeNow != 0 }">
                <flip-panel>
                    <md-card>
                        <ng-include src="'../partials/build_input_templates/cover.html'"></ng-include>
                    </md-card>
                    <div class="controls">
                        <div layout="row" layout-align="start center">
                            <div flex="100">
                                <md-button class="md-icon-button test-tooltip" aria-label="Slide Settings">
                                    <md-tooltip md-direction="bottom">Slide Settings</md-tooltip>
                                    <md-icon class="settings front" md-svg-icon="../asset/img/md-icons/svg/ic_settings_black_24px.svg"></md-icon>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </flip-panel>
                <flip-panel>
                    <md-card>
                        <settings>
                            <md-tabs>
                                <md-tab label="basic">
                                    <md-content class="md-padding">
                                        <ng-include src="getSettingUrl(setting.name)" ng-repeat="setting in buildQuestionsObj.buildcoverdata.settings"></ng-include>
                                    </md-content>
                                </md-tab>
                                <md-tab label="advanced" ng-disabled="true">
                                    <md-content class="md-padding">
                                        <!--<ng-include src="getSettingUrl(setting.name)" ng-repeat="setting in buildcoverdata.advsettings"></ng-include>-->
                                    </md-content>
                                </md-tab>
                            </md-tabs>
                        </settings>
                    </md-card>
                    <div class="controls">
                        <md-button class="md-icon-button test-tooltip" aria-label="Slide Settings">
                            <md-tooltip md-direction="bottom">Slide Settings</md-tooltip>
                            <md-icon class="settings back" md-svg-icon="../asset/img/md-icons/svg/ic_settings_black_24px.svg"></md-icon>
                        </md-button>
                    </div>
                </flip-panel>
            </flip>
            <flip class="flip noPreventDefault" ng-repeat="question in buildQuestionsObj.questions" ng-class="{slideactive: $last, slideleft: !$last}">
                <flip-panel>
                    <div class="type">
                        <md-tooltip md-direction="bottom">Question Type Selection</md-tooltip>
                        <md-button class="md-icon-button" ng-click="openTypeModal($event)" ng-switch on="question.questiontype">
                            <md-icon md-svg-icon="../asset/img/md-icons/svg/text-box.svg" ng-switch-when="text"></md-icon>
                            <md-icon md-svg-icon="../asset/img/md-icons/svg/long-text-box.svg" ng-switch-when="textarea"></md-icon>
                            <md-icon md-svg-icon="../asset/img/md-icons/svg/statement.svg" ng-switch-when="statement"></md-icon>
                            <md-icon md-svg-icon="../asset/img/md-icons/svg/radio.svg" ng-switch-when="radio"></md-icon>
                            <md-icon md-svg-icon="../asset/img/md-icons/svg/checkbox.svg" ng-switch-when="checkbox"></md-icon>
                            <md-icon md-svg-icon="../asset/img/md-icons/svg/dropdown.svg" ng-switch-when="select"></md-icon>
                            <md-icon md-svg-icon="../asset/img/md-icons/svg/ic_star_black_24px.svg" ng-switch-when="rating_star"></md-icon>
                            <md-icon md-svg-icon="../asset/img/md-icons/svg/scale-rating.svg" ng-switch-when="radio_size"></md-icon>
                            <md-icon md-svg-icon="../asset/img/md-icons/svg/ic_add_circle_black_24px.svg" ng-switch-default></md-icon>
                        </md-button>
                    </div>
                    <md-card>
                        <md-progress-linear class="md-warn md-hue-1" md-mode="determinate" value="{{buildQuestionsObj.percentComplete()}}" aria-valuemin="{{buildQuestionsObj.minCount}}" aria-valuemax="{{buildQuestionsObj.maxCount}}"></md-progress-linear>
                        <buildquestion class="question-slide col-xs-12 col-md-8 col-md-offset-2 text-center">
                        </buildquestion>
                    </md-card>
                    <div class="controls">
                        <div layout="row" layout-align="start center">
                            <div class="fcontrol" flex="50">
                                <div>Must Answer</div>
                                <div>
                                    <md-switch class="md-primary" ng-model="question.validations.mustanswer.condition" aria-label="Must Answer"></md-switch>
                                </div>
                            </div>
                            <div flex="50">
                                <md-button class="md-icon-button test-tooltip copy" aria-label="Copy Slide">
                                    <md-tooltip md-direction="bottom">Copy Slide</md-tooltip>
                                    <md-icon class="" ng-click="copySlide($event)" md-svg-icon="../asset/img/md-icons/svg/ic_content_copy_black_24px.svg"></md-icon>
                                </md-button>
                                <md-button class="md-icon-button test-tooltip delete" aria-label="Delete Slide">
                                    <md-tooltip md-direction="bottom">Delete Slide</md-tooltip>
                                    <md-icon class="" ng-click="deleteSlide($event)" md-svg-icon="../asset/img/md-icons/svg/ic_remove_circle_outline_black_24px.svg"></md-icon>
                                </md-button>
                                <md-button class="md-icon-button test-tooltip" aria-label="Slide Settings">
                                    <md-tooltip md-direction="bottom">Slide Settings</md-tooltip>
                                    <md-icon class="settings front" md-svg-icon="../asset/img/md-icons/svg/ic_settings_black_24px.svg"></md-icon>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </flip-panel>
                <flip-panel>
                    <md-card>
                        <settings>
                            <md-tabs>
                                <md-tab label="basic">
                                    <md-content class="md-padding">
                                        <ng-include class="basic {{setting.name}}" src="getSettingUrl(setting.name)" ng-repeat="setting in question.validations"></ng-include>
                                    </md-content>
                                </md-tab>
                                <md-tab label="advanced">
                                    <md-content class="md-padding">
                                        <ng-include class="advanced {{setting.name}}" src="getSettingUrl(setting.name)" ng-repeat="setting in question.advancedvalidations"></ng-include>
                                    </md-content>
                                </md-tab>
                            </md-tabs>
                        </settings>
                    </md-card>
                    <div class="controls">
                        <md-button class="md-icon-button test-tooltip copy" aria-label="Copy Slide">
                            <md-tooltip md-direction="bottom">Copy Slide</md-tooltip>
                            <md-icon class="" ng-click="copySlide($event)" md-svg-icon="../asset/img/md-icons/svg/ic_content_copy_black_24px.svg"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button test-tooltip delete" aria-label="Delete Slide">
                            <md-tooltip md-direction="bottom">Delete Slide</md-tooltip>
                            <md-icon class="" ng-click="deleteSlide($event)" md-svg-icon="../asset/img/md-icons/svg/ic_remove_circle_outline_black_24px.svg"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button test-tooltip" aria-label="Slide Settings">
                            <md-tooltip md-direction="bottom">Slide Settings</md-tooltip>
                            <md-icon class="settings back" md-svg-icon="../asset/img/md-icons/svg/ic_settings_black_24px.svg"></md-icon>
                        </md-button>
                    </div>
                </flip-panel>
            </flip>
            <flip class="flip noPreventDefault">
                <flip-panel>
                    <md-card>
                        <ng-include src="'../partials/build_input_templates/success.html'"></ng-include>
                    </md-card>
                    <div class="controls">
                        <div layout="row" layout-align="start center">
                            <div flex="100">
                                <md-button class="md-icon-button test-tooltip" aria-label="Slide Settings">
                                    <md-tooltip md-direction="bottom">Slide Settings</md-tooltip>
                                    <md-icon class="settings front" md-svg-icon="../asset/img/md-icons/svg/ic_settings_black_24px.svg"></md-icon>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </flip-panel>
                <flip-panel>
                    <md-card>
                        <settings>
                            <md-tabs>
                                <md-tab label="basic">
                                    <md-content class="md-padding">
                                        <ng-include src="getSettingUrl(setting.name)" ng-repeat="setting in buildQuestionsObj.buildsuccessdata.settings"></ng-include>
                                    </md-content>
                                </md-tab>
                                <md-tab label="advanced">
                                    <md-content class="md-padding" ng-disabled="true">
                                        <!--<ng-include src="getSettingUrl(setting.name)" ng-repeat="setting in buildsuccessdata.advsettings"></ng-include>-->
                                    </md-content>
                                </md-tab>
                            </md-tabs>
                        </settings>
                    </md-card>
                    <div class="controls">
                        <md-button class="md-icon-button test-tooltip" aria-label="Slide Settings">
                            <md-tooltip md-direction="bottom">Slide Settings</md-tooltip>
                            <md-icon class="settings back" md-svg-icon="../asset/img/md-icons/svg/ic_settings_black_24px.svg"></md-icon>
                        </md-button>
                    </div>
                </flip-panel>
            </flip>
        </div>
        <div class="navigation-slide bottom_fixed">
            <md-card class="add-slide" ng-click="addSlide()">
                <md-icon md-svg-icon="../asset/img/md-icons/svg/ic_add_circle_black_24px.svg" class="md-primary md-hue-1"></md-icon>
            </md-card>
            <div class="navigating_blocks" ng-swipe-left="nextswipes()" ng-swipe-right="previousswipes()">
                <md-card ng-class="{slideactive:buildQuestionsObj.activeNow == 0, slideleft: buildQuestionsObj.activeNow != 0 }" ng-click="showSlide($event)">
                    <ng-include src="'../partials/build_input_templates/cover.html'"></ng-include>
                </md-card>
                <md-card ng-repeat="question in buildQuestionsObj.questions" ng-class="{slideactive: $last, slideleft: !$last}" ng-click="showSlide($event)" ng-drag="question.draggable" ng-drag-data="question" ng-drop="true" ng-drop-success="onDropComplete($index, $data, $event)" on-long-press="itemOnLongPress($event, question)" ng-drag-stop="onDragStop($event, question)" ng-mousedown="itemOnLongPress($event, question)">
                    <question class="question-slide col-xs-12 col-md-8 col-md-offset-2 text-center">
                    </question>
                </md-card>
                <md-card ng-click="showSlide($event)">
                    <ng-include src="'../partials/build_input_templates/success.html'"></ng-include>
                </md-card>
            </div>
        </div>
    </div>
</div>