<div ng-controller="tabCtrl" md-theme="mytheme">
    <div flex class="mobile-project-title">
        <md-icon class="build_back" md-svg-icon="../asset/img/md-icons/svg/ic_arrow_back_black_24px.svg"></md-icon>
        <md-input-container style="margin-top:0;">
            <input class="md-accent hue-2" ng-model="projectname" type="text">
        </md-input-container>
    </div>
    <md-tabs md-stretch-tabs="never" class="create-tabs">
        <md-tab label="Build" class="md-primary md-hue-1">
            <ng-include src="'../partials/build.html'"></ng-include>
        </md-tab>
        <md-tab label="Preview & Publish">
            <div class="publish-panel" layout="row">
                <div flex="70" class="themes">
                    <div class="circle {{theme}}" data-theme="{{theme}}" ng-repeat="theme in themes" ng-click="changeTheme($event)"></div>
                </div>
                <div flex="30" class="publish-btn-container">
                    <md-button class="publish md-raised md-primary md-hue-2">Publish</md-button>
                </div>
            </div>
            <ng-include src="'../partials/experience.html'"></ng-include>
        </md-tab>
        <md-tab label="Response" ng-disabled="true">
        </md-tab>
    </md-tabs>
</div>