<div class="category col-xs-12 text-center font-color-222 font-size-14" ng-if="question.answertype != 'statement'">{{question.category}}</div>
<div id="slide-{{question.id}}" class="questionPanel" data-question-id="{{question.id}}" ng-if="question.answertype != 'statement'">
    <div class="questionContainer">
        <h2 class="question font-size-24 font-color-000" ng-bind-html="question.question">{{question.question}}</h2>
    </div>
    <div class="answerContainer">
        <p class="caption font-color-666 font-size-14">{{question.caption}}</p>
        <div class="inputContainer {{question.answertheme}}_class">
        <ng-include src="dynamicTemplateUrl(question)"></ng-include>
        </div>
        <p class="hint font-color-666 font-size-12">Hint: {{question.hint}}</p>
        <md-progress-circular md-mode="determinate" data-seconds="{{question.validations.autocomplete.seconds}}" value="{{question.validations.autocomplete.start}}" ng-if="question.validations.autocomplete.condition">
        </md-progress-circular>
    </div>
</div>
<div id="slide-{{question.id}}" class="questionPanel statement" data-question-id="{{question.id}}" ng-if="question.answertype == 'statement'">
    <ng-include src="dynamicTemplateUrl(question)"></ng-include>
</div>