<div class="type-layout">
    <div class="close-tab" layout="row" layout-align="center center">
        <div flex>
            <md-icon class="close" ng-click="copySlide($event)" md-svg-icon="../asset/img/md-icons/svg/ic_content_copy_black_24px.svg"></md-icon>
        </div>
    </div>
    <div class="field-type">
        <div class="flabel" layout="row" layout-align="start center">
            <div flex>Field Type</div>
        </div>
        <div class="content" layout="row" layout-align="center center">
            <div flex>
                <md-icon md-svg-icon="../asset/img/md-icons/svg/ic_add_circle_black_24px.svg" class=""></md-icon>
                Type Box
            </div>
            <div flex>
                <md-icon md-svg-icon="../asset/img/md-icons/svg/ic_add_circle_black_24px.svg" class=""></md-icon>
                Long type Box
            </div>
            <div flex>
                <md-icon md-svg-icon="../asset/img/md-icons/svg/ic_add_circle_black_24px.svg" class=""></md-icon>
                Statement
            </div>
        </div>
        <div class="content" layout="row" layout-align="center center">
            <div flex>
                <md-icon md-svg-icon="../asset/img/md-icons/svg/ic_add_circle_black_24px.svg" class=""></md-icon>
                Type Box
            </div>
            <div flex>
                <md-icon md-svg-icon="../asset/img/md-icons/svg/ic_add_circle_black_24px.svg" class=""></md-icon>
                Long type Box
            </div>
            <div flex>
                <md-icon md-svg-icon="../asset/img/md-icons/svg/ic_add_circle_black_24px.svg" class=""></md-icon>
                Statement
            </div>
        </div>
        <div class="content" layout="row" layout-align="center center">
            <div flex>
                <md-icon md-svg-icon="../asset/img/md-icons/svg/ic_add_circle_black_24px.svg" class=""></md-icon>
                Type Box
            </div>
            <div flex>
                <md-icon md-svg-icon="../asset/img/md-icons/svg/ic_add_circle_black_24px.svg" class=""></md-icon>
                Long type Box
            </div>
            <div flex>
                <md-icon md-svg-icon="../asset/img/md-icons/svg/ic_add_circle_black_24px.svg" class=""></md-icon>
                Statement
            </div>
        </div>
    </div>
</div>