<div class="type-layout" ng-controller="typeLayoutCtrl">
    <div class="close-tab" layout="row" layout-align="center center">
        <div flex>
            <md-icon class="close-modal" ng-click="cancel()" md-svg-icon="../asset/img/md-icons/svg/ic_close_black_24px.svg"></md-icon>
        </div>
    </div>
    <div class="field-type">
        <div class="flabel" layout="row" layout-align="center center">
            <div flex>{{fieldtypedata.name}}</div>
        </div>
        <div class="content" layout="row" layout-wrap>
            <div class="ftype" flex="33" data-type="{{fieldoption.type}}" ng-repeat="fieldoption in fieldtypedata.options" ng-click="addQuestion($event)">
                <md-icon md-svg-icon="{{fieldoption.img_src}}" class=""></md-icon>
                {{fieldoption.name}}
            </div>
        </div>
    </div>
    <div class="question-type">
        <div class="flabel" layout="row" layout-align="start center">
            <div flex>Question Type</div>
        </div>
        <div class="content">
            <div flex data-qtype="father">Name</div>
            <div flex data-qtype="father">Age</div>
            <div flex data-qtype="father">Father</div>
        </div>
    </div>
</div>