<section  class="response-section build" ng-controller="responsectrl">
    <section class="chart-box">
        <div class="chartbox-headers">
            <div class="chartbox-header-values">
                <h4 class="md-title">MySurvey</h4>
                <h4>{{surveyCompleted}}<small>Completed</small></h4>
                <h4>{{surveyEngaged}}<small>Engaged</small></h4>
                <h4>{{surveyVisited}}<small>Visited</small></h4>
                <h4>{{audienceInterest}}%<small>Audience Interest</small></h4>
                <h4>{{papformQuality}}%<small>Papform Quality</small></h4>
            </div>
            <md-button class="md-raised filter-audience" ng-click="openfilterMenu($event,$index)"><md-icon md-svg-src="../asset/img/md-icons/svg/ic_filter_list_black_24px.svg" aria-label="Filter Audience"></md-icon>Filter Audience</md-button>
            <md-button class="share" ng-click="snap($event)"><md-icon md-svg-src="../asset/img/md-icons/svg/ic_share_black_24px.svg" aria-label="Share"></md-icon><span>Share</span></md-button>
        </div>
        <div class="chart-body">
            <div layout="row" layout-xs="column">
                <doughnut-chart flex="25" flex-xs="100" strokecolors dataquest="" dataanswered="{{totAns[$index]}}" ng-repeat="card in cards track by $index" dataval="[2,5,6,8]" datalabel="['2%Item1','5%Item2','6%Item3','8%Item4']"></doughnut-chart>
            </div>
            <md-button class="md-raised show-insights" ng-click="showallinsights()">Show all insights</md-button>
            <md-button class="md-raised hide-insights" ng-click="hideinsights()" style="display:none">Hide insights</md-button>
        </div>
    </section>
    <hr/>
    <section class="response-data-table">
        <div class="action-bar">
            <md-button class="md-raised scan-qr"><md-icon md-svg-src="../asset/img/scan.svg" aria-label=""></md-icon>Scan QR</md-button>

            <md-input-container md-no-float class="md-block search-box">
                <md-icon md-svg-src="../asset/img/md-icons/svg/ic_search_black_24px.svg"></md-icon>
                <input type="text" placeholder="Search by keyword or ID" ng-model="searchtext">
            </md-input-container>
            <md-datepicker ng-model="dt"></md-datepicker>
            <md-icon md-svg-src="../asset/img/md-icons/svg/ic_crop_square_black_24px.svg" aria-label=""></md-icon>
            <md-icon md-svg-src="../asset/img/md-icons/svg/ic_email_black_24px.svg" aria-label=""></md-icon>
            <md-icon md-svg-src="../asset/img/md-icons/svg/ic_delete_black_24px.svg" aria-label=""></md-icon>

        </div>
        <div class="table">
            <div class="tablehead">
                <div class="tablecell" ng-repeat="dataval in questlist">
                    <p ng-bind-html="dataval"></p>
                    <md-button class="md-icon-button md-primary" aria-label="" ng-click="openmenu($event, $index)">
                        <md-icon md-svg-icon="../asset/img/table-sort.svg"></md-icon>
                    </md-button>
                </div>                
            </div>
            <tbl rows="answerlist"></tbl>
        </div>
    </section>    
</section>