<div class="app-submit-page">
    <div class="media-section">
        <img class="selected-icon" src="../asset/img/submitted_icon.jpg">
    </div>
    <div class="content-section">
        <h2>Congratulation your Application has been successfully submitted.</h2>
        <p>Details has been sent to your mail</p>
        <h6>Powered by pap work</h6>
        <div class="home_button">
            <a class="button button-secondary" href="https://www.xyz.com/">Home</a>
        </div>
    </div>
    <div class="recomends">
        <h4>Recomended for you</h4>
        <ul>
            <li>
                <img class="selected-icon" src="../asset/img//pancard.jpg">
                <p>Pan card</p>
            </li>
            <li>
                <img class="selected-icon" src="../asset/img//visa.jpg">
                <p>Visa</p>
            </li>
            <li>
                <img class="selected-icon" src="../asset/img//tax.jpg">
                <p>Tax returns</p>
            </li>
        </ul>
    </div>
</div>