<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="jquery, plugin, wjsnova, jsnova, jsfiddle" />
    <meta name="description" content="An experimental jQuery plugin to duplicate the jsFiddle functionality in a jQuery plugin." />
    <meta name="owner" content="Websanova" />
    <meta property="og:title" content="An Experimental JSFiddle jQuery Plugin Clone" />
    <meta property="og:description" content="This project is an experiment to test making a JSFiddle type web app as a jQuery plugin which could be embedded within other websites." />
    <meta property="og:url" content="http://jsnova.websanova.com" />
    <meta property="og:image" content="http://www.websanova.com/wp-content/uploads/2013/06/jsnova-jquery-jsfiddle-clone-plugin.png" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Websanova" />

    <title>Form Conversion Tool</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/lib/novajs/demo.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>

</html>