body *{
    font-family: 'Roboto', sans-serif;
}
.nopadding {
    padding-left:0;
    padding-right:0;
}

.nopadding > .row {
    margin:0 0;
}
.experience-screen {
    display:inherit;
}
.experience-screen, .experience-screen > form {
    height:100vh;
}
form {
    overflow:hidden;
}
.action-word {
    color: rgb(229,115,115);
}
/***Font Color****/
.font-color-aaa {
    color:#aaaaaa;
}
.font-color-ccc {
    color:#cccccc;
}
.font-color-222 {
    color:#222222;
}
.font-color-444 {
    color:#444444;
}
.font-color-000 {
    color:#000000;
}
.font-color-666 {
    color:#666666;
}
.font-color-999 {
    color:#999999;
}
.font-color-fff{
    color:#ffffff;
}
/***Font Color****/

/***Font Size****/
.font-size-10 {
    font-size:10px;
}
.font-size-12 {
    font-size:12px;
}
.font-size-14 {
    font-size:14px;
}
.font-size-16 {
    font-size:16px;
}
.font-size-18 {
    font-size:18px;
}
.font-size-24 {
    font-size:24px;
}
/***Font Size****/

/*****Progress Bar Overwrite****/
.progressContainer {
    position: absolute;
    width: 100%;
    z-index: 99;
    /*background: #fff;*/
}
.progressContainer .status {
    margin-top:10px;
}
.progressContainer .category {
    margin-top: 23px;
}
md-progress-linear .md-container {
    height:4px;
}
/*****Progress Bar Overwrite****/



/* app css stylesheet */
.nextprev{
    position:fixed;
    display:inline-block;
    bottom:0;
    right:15px;
    -webkit-transition: bottom .8s ease-out;
    -moz-transition: bottom .8s ease-out;
    transition: bottom .8s ease-out;
}
.nextprev.last {
    bottom:35px;
}
.nextprev .md-button.md-icon-button {
    padding: 0 0;
    margin: 0;
    width: auto;
}

.nextprev .md-button.md-icon-button md-icon {
    padding: 0 0;
    margin: 0;
    display: inline-block;
    height: 30px;
    width: 30px;
    transform:scale(1.5);
}
md-icon svg {
  fill: inherit;
}
.submit {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    border-radius: 0;
}
.submit span {
    color:#fff;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
/****Menu****/

.answerContainer input{
    font-size:18px;
}

.questionPanel{
    text-align:left;
}
.hint{
    margin-top:4px;
}
.caption{
    margin-top:27px;
}

/******Questions Theme*****/
form.default {
    background-color:#ffffff;
}
form.green {
    background-color:#91C342;
}
form.black {
    background-color:#000000;
}
form.pink{
    background-color:#F78C8B;
}
form.blue{
    background-color:#4FE7FF;
}
form.yellow{
    background-color:#FCEA1E;
}
form.orange{
    background-color:#F79E00;
}

/******Questions Theme*****/

/******Questions*****/
question .questionPanel{
    position:relative;
    top: 0;
    transform: translateY(0%);
    -webkit-transition: top .8s ease-out;
    -moz-transition: top .8s ease-out;
    transition: top .8s ease-out;
}
question.active .questionPanel .answerContainer, question.visited .questionPanel .answerContainer{
    opacity:1;
}
question .questionPanel .answerContainer{
    opacity:0;
}

question.question-slide{
    height:75vh;
    position:absolute;
    top: 100vh;
    -webkit-transition: top .8s ease-out;
    -moz-transition: top .8s ease-out;
    transition: top .8s ease-out;
    text-align: left;
}
question .questionPanel h2{
    font-size:14px;
    -webkit-transition: font-size .8s ease-out;
    -moz-transition: font-size .8s ease-out;
    transition: font-size .8s ease-out;
}
question.active .questionPanel h2 {
    font-size:24px;
    font-family:Optima;
    font-weight:bold;
}
question.active{
    top:0;
}
question.visited {
   top:-75vh;
}
question.next_active {
    opacity: 0.8;
    top: 79vh;
}
question.next_active .questionPanel h2{
    font-size:14px;
}
question.next_next_active {
    opacity: 0.5;
    top: 85vh;
}
question.next_next_active .questionPanel h2{
    font-size:12px;
}
question.active .questionPanel {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.next-active .answerContainer{
    opacity:0;
}

.active .answerContainer{
    -webkit-animation: .8s ease 0s normal forwards 1 fadein;
    animation: .8s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
    0% { opacity:0; }
     20% { opacity:0.2; }
      40% { opacity:0.4; }
    60% { opacity:0.6; }
     80% { opacity:0.8; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
     0% { opacity:0; }
     20% { opacity:0.2; }
      40% { opacity:0.4; }
    60% { opacity:0.6; }
     80% { opacity:0.8; }
    100% { opacity:1; }
}
/******Questions*****/


/*****Cover Page CSS****/
.cover-page {
    position:relative;
    display:inherit;
    height:inherit;
    background-color:#d7eff3;
}

.cover-container {
    padding-top:30%;
    width:100%;
    text-align:center;
}
@media screen and (min-width:1024px) {
    .cover-container {
        padding-top: 10%;
    }
}
.media-section .selected-icon {
    width:120px;
    height:120px;
    margin:0 auto;
    background-repeat:no-repeat;
    background-size:cover;
    border:1px solid #d2d2d2;
    border-radius:50%;
    position:relative;
    overflow:hidden;
}
.media-section .selected-icon .upload
{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 30px;
    background-color: rgba(0,0,0,0.54);
}
.media-section .selected-icon .upload svg {
    fill:#fff;
}
.content-section {
    text-align:center;
}
.content-section h3,.pap-text{
    font-family:Optima;
}
.cover-container .content-section{
    margin-top:30px;
    width: 80%;
    margin-left: 10%;
}
.pap-text{
    color:#ff8f8e;
}
.card-media {
    margin-right: 16px;
    border-radius: 50%;
    overflow: hidden;
}
.recomends{
	 border-top: 2px solid #eeeeee;
	 margin-top:20px;
     text-align:center;
     position:fixed;
     bottom:0;
     width:100%;
}
.recomends ul{
	display:inline-block;
}
.recomends ul li{
	list-style:none;
	float:left;
	width:100px;
}
/*****Cover Page CSS****/

/****Success Page*****/
.app-submit-page .success_media {
    padding-top: 48px;
}

.app-submit-page .content-section h2 {
    font-size:  19px;
    margin-top:35px;
    color: #999999;
    margin-bottom:30px;
}

.app-submit-page user-card .md-headline {
    text-align: left;
    padding-left: 54px;
}

.app-submit-page .content-section{
    padding: 0 12%;
}
.app-submit-page .recomends h4{
    text-align:left;
    padding-left:70px;
    margin-top: 15px;
}
.app-submit-page .recomends ul {
    margin-top: 10px;
    margin-bottom:0;
}
.app-submit-page .recomends ul li .selected-icon{
    margin-bottom: 5px;
}
.app-submit-page .content-section p {
    margin-bottom: 0;
}

.app-submit-page .content-section h6 {
    margin-top: 2px;
    margin-bottom: 32px;
}
/****Success Page*****/

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    min-height: 94vh;
}
md-tab-content {
    overflow: hidden!important;
}
md-pagination-wrapper {
    width:100%!important;
}
.create-tabs > md-tabs-wrapper .md-tab {
    padding:12px 0;
    width:33.33%;
    font-size:0.9em;
    text-transform:capitalize;
}
.md-tab.md-active {
    font-size:1em;
}
.create-tabs > md-tabs-wrapper md-tabs-canvas md-ink-bar{
    background:#7BCD6E!important;
    margin-bottom:10px;
    width:10%;
    padding:2px;
    margin-left:11.5%
}
.create-tabs > md-tabs-wrapper md-tabs-canvas md-ink-bar:after {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #7BCD6E;
    content: '';
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
.md-card {
    position:relative;
    margin:0 8px;
}
.md-card .progressContainer .status {
    margin-bottom:10px!important;
}
.md-card .progressContainer md-progress-linear .md-container{
    height:2px;
}

.experience-layout question.active .category {margin-top: 50px;opacity: 1;-webkit-animation: .8s ease 0s normal forwards 1 fadein;animation: .8s ease 0s normal forwards 1 fadein;}

.experience-layout question .category {
    opacity: 0;
}
.create-tabs question.active .category {margin-top: 50px;opacity: 1;-webkit-animation: .8s ease 0s normal forwards 1 fadein;animation: .8s ease 0s normal forwards 1 fadein;}

.create-tabs question .category {
    opacity: 0;
}




/* ANIMATIONS
==================Do not edit=========================================================== */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

@keyframes slideOutUp {
    from    { transform:translateY(0); }
    to      { transform: translateY(-100%); }
}


/* page specific animations ------------------------ */

    /* cover -------------------------- */
    .cover-layout ng-view.ng-enter         { animation: rotateOutNewspaper 0.5s both ease-in; }
    .experience-layout ng-view.ng-leave         {transform-origin:0 0; animation: slideOutUp 0.5s both ease-in; }

/* ANIMATIONS
============================================================================= */