/*******Menu Css*****/
md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 15%;
    position: relative;
    z-index: 9999;
    float: left;
    height: 100vh;
}

.main-navigation {
    padding: 0 30px;
}

.main-navigation .logo img {
    width:auto;
    height:auto;
    max-height: 56px;
}

.main-navigation > div {
    padding: 0 8px;
}

.main-navigation.dark {
}

.main-settings {
    background-color: #000;
}

.main-settings .close {
    width: 40px;
    margin-top: 20px;
    margin-right: 20px;
    position: absolute;
    clear: both;
    opacity: 0.4;
    transition: margin linear .5s;
    right: 0;
}

.main-settings.dark .close, .main-settings.dark .close:hover {
    background-color: #ffffff !important;
}

.main-settings md-content {
    float: left;
    margin-top: 100px;
    margin: 0;
    width: 100%;
    background: 000;
    color: #fff;
    margin-top: 100px;
}
.md-open-menu-container.md-active {
    z-index:9999;
}
.md-menu .md-button.md-icon-button{
    border-radius:50%;
    background-color:grey;
    padding:0 0;
    height: 30px;
    width:30px;
    min-height:0
}
.md-menu md-icon{
    padding:0;
}
.md-menu button svg{
    fill:#fff;
}

@media screen and (max-width:767px) {
    .experience-screen {
        display: initial;
    }
    .main-navigation{
        margin-top: -20px;
    }
    .main-navigation, .main-navigation > div {
        padding: 0 0;
    }
    md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
        width: 15%;
        max-width:150px;
        position: absolute;
    }
    .mobile-project-title{
        display:none;
    }
    .main-navigation .logo img {
        max-height:50px;
    }
    .create-tabs form .submit {
        width:100%;
    }
    .welcometext {
        display:none;
    }
}
/*******Menu Css*****/
flip-panel > .md-dialog-container {
    top:0!important;
}
[contenteditable] {
    text-decoration: underline;
    outline: none;
    text-decoration-color: #999999 !important;
}

md-pagination-wrapper .md-active span {
    font-size: 14px;
}

.build-page .md-card {
    height: 100vh;
}

.md-card .progressContainer {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
}

md-progress-linear.md-mytheme-theme.md-hue-1.md-warn .md-container {
    padding: 0 50px;
}

.apply-questions-container md-progress-linear, .apply-questions-container md-progress-linear .md-container {
    height: 2px;
}

.apply-questions-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 71vh;
    margin-top: -3px;
    overflow: hidden;
}

    .apply-questions-container flip {
        position: absolute;
        left: 1000px;
        width: 100%;
        margin: 0 0;
        -webkit-transition: left .8s ease-out;
        height: 73vh;
    }

        .apply-questions-container flip flip-panel:first-child {
            z-index: 999;
        }

    .apply-questions-container .flipBasic md-tab-content md-content {
        background-color: #fff;
    }

    .apply-questions-container md-card {
        margin: 3px 3px;
        height: 100%;
    }

    .apply-questions-container .slideactive {
        left: 0;
        z-index: 0;
        -webkit-transition: left .5s ease-out;
    }

.navigation-slide md-card {
    box-shadow: none;
    border: 2px solid rgba(238, 238, 238, 0.79);
}

.navigation-slide .slideactive {
    border: 2px solid rgb(129,199,132);
}

.apply-questions-container .slideleft {
    left: -1000px;
    z-index: 999;
    -webkit-transition: left .5s ease-out;
}

.apply-questions-container .cover-page, .apply-questions-container .app-submit-page {
    height: inherit;
}

.navigation-slide .cover-page, .navigation-slide .app-submit-page {
    height: 8.85vh;
    position: relative;
    display: inherit;
}

.navigation-slide .cover-container, .navigation-slide .default-container, .navigation-slide .variant-container {
    height: 43vh;
    transform: scale(.2);
    transform-origin: 0 0;
    width: 495%;
    overflow: hidden;
}

.navigation-slide .cover-page img {
    width: 100%;
}

.controls {
    position: absolute;
    right: 0;
    bottom: 30px;
    width: 100%;
    padding: 0 10px;
}

    .controls .md-button.md-icon-button {
        margin: 0;
    }

    .controls .fcontrol > div {
        float: left;
    }

        .controls .fcontrol > div md-switch {
            margin: -5px 10px;
        }

    .controls .flex-50:last-child {
        text-align: right;
    }

    .controls md-icon {
        padding: 5px;
        width: 28px;
        height: 28px;
        background-color: rgba(0,0,0,0.6);
        color: #fff;
        border-radius: 50%;
        /*margin-left: 15px;*/
    }

settings .md-tab {
    padding: 12px 0;
    width: 50%;
    font-size: 0.9em;
    text-transform: capitalize;
    overflow: hidden;
}

settings ng-include [layout="row"] {
    position: relative;
    padding: 10px 0;
}

settings md-tabs-canvas md-ink-bar {
    background: #7BCD6E !important;
    z-index: 999;
    height: 1px;
}

settings md-pagination-wrapper:after {
    content: '';
    display: table;
    clear: both;
    width: 100%;
    position: absolute;
    height: 1px;
    bottom: 0;
    background-color: #d2d2d2;
    z-index: 0;
}

settings md-tabs-content-wrapper md-content {
    overflow: hidden;
}

settings md-input-container {
    margin-top: 0;
    width: 100%;
    max-width: 80%;
}

settings md-switch {
    margin: 0;
}

.navigation-slide {
    position: fixed;
    overflow: hidden;
    height: 19vh;
    bottom: 30px;
    left: 0;
    width: 100%;
    padding: 0 8px;
    border-top: 1px solid #d2d2d2;
    padding-top: 4px;
    z-index: 10;
    background: #fff;
}

    .navigation-slide > md-card {
        margin-right: 1px;
        float: right;
    }

.navigating_blocks {
    height: 13vh;
    /*width:30000px;*/
    /*overscroll-behavior-x: inherit;*/
    margin: 0 !important;
    padding-bottom: 10px;
}

.navigation-slide md-card:nth-child(2) {
    margin-left: 1px;
}

.navigation-slide md-card {
    width: 45px;
    float: left;
    height: 9.2vh;
    margin: 3px;
    outline: none;
    position: relative;
    box-sizing: border-box;
}

.navigation-slide .navigating_blocks > md-card:after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    z-index: 9999;
}

.navigation-slide question.question-slide {
    padding: 4%;
    transform-origin: 0 0;
    /*overflow: hidden;*/
    position: relative;
    top: 0;
}

.navigation-slide question.question-slide .questionPanel {
    transform: scale(.2);
    transform-origin: 0 0;
    position: absolute;
    top: 15px;
    width: 495%;
    height: 42vh;
    overflow: hidden;
}

.navigation-slide .add-slide {
    position: fixed;
    left: calc(100vw - 62px);
    z-index: 999999;
}

    .navigation-slide .add-slide md-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60%;
        transform: translate(-50%,-50%);
    }

.navigation-slide md-card.slideactive { /* position: relative; */
}

/*.navigation-slide md-card.slideactive:after {
    content:'.';
    position:absolute;
    bottom: -49px;
    font-size: 90px;
    left: 50%;
    color: rgb(129,199,132);
    transform: translateX(-50%);
}*/

/*******Overrides for question slide******/
md-card buildquestion.question-slide, md-card question.question-slide {
    position: static;
    transition: none;
    height: 73vh;
    padding-top: 30px;
    width: 100%;
}

md-card settings {
    height: 68vh;
    max-height: 73vh;
    overflow: hidden;
    overflow-y: scroll;
}

.type {
    position: absolute;
    top: 12px;
    z-index: 9;
    left: 4px;
}

md-card buildquestion .questionPanel .answerContainer, md-card question .questionPanel .answerContainer {
    opacity: 1;
}

.apply-questions-container md-dialog {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    background-color: rgba(101,101,101,0.8);
    color: #fff;
    box-shadow: none;
    border-radius: 0;
}

    .apply-questions-container md-dialog .type-layout {
        width: 100%;
        height: 73vh;
    }

        .apply-questions-container md-dialog .type-layout md-icon {
            color: #fff;
            display: block;
        }

.type-layout md-icon.close-modal {
    border-radius: 50%;
    border: 1px solid;
}

.field-type .ftype {
    padding: 8px;
    text-align: center;
}

.question-type .flex, .field-type .flabel .flex {
    padding: 8px;
}

.field-type .flabel .ftype {
    text-align: left;
}

.field-type .content .ftype {
    border-right: 1px solid #a3a3a3;
    border-bottom: 1px solid #a3a3a3;
    text-align: center;
    font-size: 12px;
    padding: 16px 8px;
    outline: none;
}

.question-type .content .flex {
    float: left;
    border: 1px solid #fff;
    margin: 0 8px;
    border-radius: 20px;
    padding: 5px;
    min-width: 63px;
    text-align: center;
    margin-bottom: 10px;
}

.question-type .content {
    overflow: hidden;
    overflow-x: scroll;
}

    .question-type .content .content_container {
        width: 600px;
        display: inline-block;
    }

.field-type .ftype.active, .question-type .flex.active {
    background-color: rgb(76,175,80);
}

.field-type .content .ftype:last-child {
    /* border: none; */
}

.field-type .content {
    border-top: 1px solid #a3a3a3;
    height: calc(223px);
    overflow: hidden;
    /*overflow-y: scroll;*/
}

    .field-type .content:last-child {
        /* border-bottom: 1px solid #a3a3a3; */
    }

.close-tab {
    padding: 10px 0;
}

md-backdrop.md-opaque.md-default-theme, md-backdrop.md-opaque {
    background-color: transparent;
}

.flipBasic.flipHideFront .fcontrol, .flipBasic.flipHideFront .text_placeholder, .flipBasic.flipHideFront .questionPanel {
    display: none;
    -webkit-transition: display ease-in 2s;
}

.flipBasic:not(.flipHideFront) .controls {
    text-align: right;
}

.themes {
    overflow: hidden;
}

    .themes .circle {
        width: 20px;
        height: 20px;
        margin: 13px 3px;
        background-color: #d2d2d2;
        border-radius: 50%;
        float: left;
        border: 1px solid #d2d2d2;
    }

/******Questions Theme*****/
.circle.default {
    background-color: #ffffff;
}

.circle.green {
    background-color: #8bc34a;
}

.circle.black {
    background-color: #000000;
}

.circle.pink {
    background-color: #ff8d8d;
}

.circle.blue {
    background-color: #00e5ff;
}

.circle.yellow {
    background-color: #ffeb3b;
}

.circle.orange {
    background-color: #ffa000;
}

buildquestion .question, buildquestion .caption, buildquestion .hint {
    text-decoration: underline;
}

md-input-container.md-mytheme-theme .md-input {
    color: rgba(101,101,101,0.8);
    border-bottom: 2px solid #999;
}

md-input-container.md-mytheme-theme label {
    color: rgba(0,0,0,0.4);
}

.md-input-focused label, .md-input-has-value label {
    display: none;
    border-color: #999999;
}

.default .question, .default .caption, .default .hint, .default md-input-container input {
    text-decoration-color: rgba(0,0,0,0.7);
}

.black .question {
    color: #fff;
}

.black .font-color-666, .black .category {
    color: #999999;
}

.black .question, .black .caption, .black .hint {
    text-decoration-color: rgba(225,225,225,0.9);
}

.black md-input-container.md-mytheme-theme .md-input, .black .md-char-counter, .black md-checkbox.md-mytheme-theme:not(.md-checked) .md-icon, .black md-radio-button.md-mytheme-theme .md-off {
    color: rgba(203,203,203,0.8);
    border-color: #999999;
}

.black md-checkbox span, .black md-radio-button span {
    color: rgba(203,203,203,0.8);
}

.pink .question {
    color: #fff;
}

.pink .font-color-666, .pink .category {
    color: #eeeeee;
}

.pink .question, .pink .caption, .pink .hint, .pink md-input-container input {
    text-decoration-color: rgba(225,225,225,0.9);
}

.pink md-input-container.md-mytheme-theme .md-input, .pink .md-char-counter, .pink md-checkbox.md-mytheme-theme:not(.md-checked) .md-icon, .pink md-radio-button.md-mytheme-theme .md-off {
    color: rgba(67,67,67,0.8);
    border-color: #444444;
}

.pink md-checkbox span, .pink md-radio-button span {
    color: rgba(67,67,67,0.8);
}

.blue .question {
    color: #000;
}

.blue .font-color-666, .blue .category {
    color: #666666;
}

.blue .question, .blue .caption, .blue .hint, .blue md-input-container input {
    text-decoration-color: rgba(225,225,225,0.9);
}

.blue md-input-container.md-mytheme-theme .md-input, .blue .md-char-counter, .blue md-checkbox.md-mytheme-theme:not(.md-checked) .md-icon, .blue md-radio-button.md-mytheme-theme .md-off {
    color: rgba(0,0,0,0.8);
    border-color: #444444;
}

.blue md-checkbox span, .blue md-radio-button span {
    color: rgba(0,0,0,0.8);
}

.yellow .question {
    color: #000;
}

.yellow .font-color-666, .yellow .category {
    color: #666666;
}

.yellow .question, .yellow .caption, .yellow .hint, .yellow md-input-container input {
    text-decoration-color: rgba(0,0,0,0.9);
}

.yellow md-input-container.md-mytheme-theme .md-input, .yellow .md-char-counter, .yellow md-checkbox.md-mytheme-theme:not(.md-checked) .md-icon, .yellow md-radio-button.md-mytheme-theme .md-off {
    color: rgba(0,0,0,0.8);
    border-color: #999999;
}

.yellow md-checkbox span, .yellow md-radio-button span {
    color: rgba(0,0,0,0.8);
}

.orange .question {
    color: #fff;
}

.orange .font-color-666, .orange .category {
    color: #eee;
}

.orange .question, .orange .caption, .orange .hint, .orange md-input-container input {
    text-decoration-color: rgba(255,255,255,0.9);
}

.orange md-input-container.md-mytheme-theme .md-input, .orange .md-char-counter, .orange md-checkbox.md-mytheme-theme:not(.md-checked) .md-icon, .orange md-radio-button.md-mytheme-theme .md-off {
    color: rgba(0,0,0,0.8);
    border-color: #999;
}

.orange md-checkbox span, .orange md-radio-button span {
    color: rgba(0,0,0,0.8);
}

.green .question {
    color: #fff;
}

.green .font-color-666, .green .category {
    color: #eee;
}

.green .question, .green .caption, .green .hint, .green md-input-container input {
    text-decoration-color: rgba(255,255,255,0.9);
}

.green md-input-container.md-mytheme-theme .md-input, .green .md-char-counter, .green md-checkbox.md-mytheme-theme:not(.md-checked) .md-icon, .green md-radio-button.md-mytheme-theme .md-off {
    color: rgba(0,0,0,0.8);
    border-color: #999;
}

.green md-checkbox span, .green md-radio-button span {
    color: rgba(0,0,0,0.8);
}
/******Questions Theme*****/

.option + div[role=button] {
    display: inline-block;
}

.master-settings {
    display: none;
}

.publish-panel {
    z-index: 99;
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 8vh;
    padding: 0 5%;
    top: 0;
}

@media (min-width: 992px) {
    .publish-panel + ng-include > form question {
        margin-left: 12.666667%;
        width: 75%;
    }
    .publish-panel + ng-include > form question.next_active {
        top:70vh
    }
    .publish-panel + ng-include > form question.next_next_active {
        top:75vh
    }
}

.publish-panel + ng-include > form {
    margin-top: 5vh;
    width: 100%;
    height: 77vh;
    position: relative;
}

.type button {
    width: auto !important;
    height: auto !important;
}

.type md-icon {
    background-color: rgba(0,0,0,0.6);
    padding: 5px 13px;
    padding-right: 27px;
    width: 63px;
    height: 25px;
    position: relative;
    border-radius: 20px;
}

    .type md-icon:after {
        content: 'v';
        position: absolute;
        top: 50%;
        right: 10px;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #fff;
        content: '';
        /* left: 50%; */
        position: absolute;
        transform: translateY(-50%);
    }

    .type md-icon svg {
        fill: #fff;
    }

md-card.slideactive question.question-slide:after, md-card.slideactive .cover-page:after, md-card.slideactive .app-submit-page:after {
    content: '';
    color: rgb(129,199,132);
    width: 10px;
    height: 10px;
    background-color: rgb(129,199,132);
    border-radius: 50%;
    bottom: -25px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

buildquestion .apply-questions-container .questionPanel {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 15px;
    transform: translateY(-50%);
    top: 50%;
    height: 70vh;
}

buildquestion .category {
    padding-bottom: 9vh;
}

.create-tabs .md-card .progressContainer .status {
    margin-bottom: 0px !important;
    margin-top: 0px;
}

.navigation-slide .default-container md-card, .navigation-slide .variant-container md-card {
    width: 100%;
    height: auto;
}

.apply-questions-container .app-submit-page .success_media {
    padding-top: 5px;

}

.apply-questions-container .app-submit-page .content-section > * {
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 12px;
}

.apply-questions-container .app-submit-page .content-section h6 {
    margin: 0;
}




.mobile-project-title md-input-container {
    width: 45%;
}

.mobile-project-title {
    padding: 0 10px;
    padding-top: 15px;
    height: 6vh;
}

    .mobile-project-title .build_back {
        margin-right: 33px;
    }

    .mobile-project-title md-input-container input {
        line-height: 0px;
        height: 13px;
        padding: 0;
        text-decoration: underline;
    }

.build ng-include {
    position: relative;
    width: 100%;
    display: inline-block;
    height: 100%;
}

label + md-input-container label {
    opacity: 0;
}

.apply-questions-container .app-submit-page md-card {
    margin: 0 0;
}

.recomends_link {
    width: 100%;
}

    .recomends_link md-input-container {
        width: 30%;
    }

.apply-questions-container .questionContainer {
    display: inline-block;
    width: 100%;
}

.md-dialog-is-showing .apply-questions-container .flip-panel:first-child {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.md-dialog-backdrop {
    display: none;
}

.upload-options .col-xs-6 {
    border: 1px solid #d3d3d3;
}

.upload-image {
    padding: 30px 0;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}

.upload-options .value {
    text-align: center;
    background: rgba(0,0,0,.54);
}

.navigation-slide .category {
    transform-origin: 27%;
    transform: scale(.2);
    opacity: 1 !important;
}

.apply-questions-container .inputContainer .option {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-top: 5px;
}

.apply-questions-container .inputContainer .checkbox-block {
    margin: 0;
    height: 200px;
    overflow-y: scroll;
}

.apply-questions-container md-radio-group {
    margin: 0;
    height: 200px;
    overflow-y: scroll;
}

.apply-questions-container .file-option, .apply-questions-container .number-options {
    position: relative;
    width: auto;
    display: block;
}

    .apply-questions-container .file-option md-input-container, .apply-questions-container .number-options md-input-container {
        margin-top: 0;
    }

.apply-questions-container .add-option {
    float: left;
}


#tab-content-3  .cover-page {
    height: 88vh;
    display: block;
}

label.text_placeholder {
    color: rgba(101,101,101,0.8);
}

.enable-media button.md-list-item-content {
    margin: 0 0;
    padding: 0 0;
    text-align: left;
}

.enable-media .md-list-item-content {
    width: 100%;
}

.enable-media md-input-container {
    margin: 0;
    max-width: 100%;
    width: 80%;
}

settings ng-include.advanced {
    border-bottom: 1px solid #d2d2d2;
    display: inline-block;
    width: 100%;
    padding-bottom: 15px;
}

    settings ng-include.advanced.showhide .advance-option {
        position: absolute;
        right: -10px;
        bottom: 21px;
    }

/*settings md-input-container.autocomplete:after {
    content: 'sec';
    position: absolute;
    right: 0;
    bottom: 0;
    color: rgba(101,101,101,0.8);
    line-height: 35px;
    font-size: 14px;
}*/

settings ng-include.showhide [layout="row"] .remove {
    position: absolute;
    left: -100px;
    top: 0;
}

settings ng-include.showhide [layout="row"]:hover .remove {
    left: -20px;
    -webkit-transition: left .2s ease-out;
    -moz-transition: left .2s ease-out;
    transition: left .2s ease-out;
}

.text-options {
    position: relative;
}

    .text-options md-input-container {
        margin-top: 0;
    }

.basic.mustanswer {
    display: none;
}

md-tab-content > div > ng-include {
    width: 100%;
    height: inherit;
    display: inline-block;
}

md-tab-content > div {
    height: inherit;
    width: inherit;
}

@media screen and (min-width:1024px) {
    .mobile-project-title {
        display: none;
    }

    .apply-questions-container flip {
        left: 10000px;
    }

    flip-panel.flipBasic.flipHideBack {
        transform: none;
        width: 40% !important;
        right: 0;
    }

    flip-panel.flipBasic.flipHideBack md-tabs.md-mytheme-theme md-ink-bar {
        width: 50%;
    }

    flip-panel.flipBasic {
        width: 59% !important;
    }

    flip-panel.flipHideBack .controls, flip-panel .fcontrol, flip-panel .settings {
        display: none!important;
    }

    .flipBasic:not(.flipHideFront) .controls button:last-child {
        display: none;
    }

    flip-panel .controls {
        top: 20px;
        bottom: auto;
        right: 10px;
    }

    flip-panel .controls .flex-50 {
        max-width: 100%;
    }

    .apply-questions-container .slideleft {
        left: -4000px;
    }

    .apply-questions-container md-dialog {
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
    }

    .apply-questions-container .md-dialog-container {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -webkit-align-items: center;
    }

    .apply-questions-container md-dialog .type-layout {
        height: 73vh;
    }

    md-card buildquestion.question-slide, md-card question.question-slide {
        margin-left: 0;
    }

    .publish-panel {
        padding: 30px 40px;
    }

    .build {
        padding: 2vh 40px;
        background-color: #f8f8f8;
        padding-bottom: 0;
        height: inherit;
    }

    .publish-panel + .ng-scope .cover-page {
        margin: 0 50px;
    }

    .build .progressContainer {
        width: 60%;
        background: #f8f8f8;
    }

    .questionPanel {
        text-align: left;
    }

    .navigation-slide md-card {
        width: 100px;
    }

    .navigation-slide .add-slide {
        position: relative;
        left: inherit;
        z-index: 999;
        float: left !important;
        margin-right: 3px;
        /* height: 68%; */
        margin-left: 46px;
    }

    .create-tabs > md-tabs-wrapper md-pagination-wrapper {
        width: 32% !important;
        left: 34%;
    }

    .create-tabs > md-tabs-wrapper md-tabs-canvas md-ink-bar {
        margin-bottom: 0px;
        z-index: 9999;
    }

    .publish-panel {
        padding: 0 38%;
        height: 5vh;
    }

        .publish-panel .publish-btn-container {
            text-align: right;
        }

    .master-settings {
        display: block;
        width: 100%;
    }

    .project-title {
        width: 20%;
        float: left;
    }

    .more-options {
        width: 80%;
        display: inline-block;
    }

        .more-options ul {
            list-style-type: none;
            padding-left: 0px;
        }

            .more-options ul li {
                float: left;
                margin-right: 0px;
                padding: 0 10px;
                cursor: pointer;
                outline: none;
            }

        .more-options li img {
            height: 25px;
            width: 25px;
        }

        .more-options li.club {
            background-color: #fff;
            border-radius: 10px;
        }

        .more-options ul li button {
            margin: 0 0 !important;
        }

    .create-tabs > md-tabs-wrapper {
        z-index: 999;
    }

        .create-tabs > md-tabs-wrapper md-tabs-canvas {
            overflow: inherit;
            box-shadow: 2px 2px 10px #d2d2d2;
        }

    md-card.slideactive question.question-slide:after, md-card.slideactive .cover-page:after, md-card.slideactive .app-submit-page:after {
        width: 15px;
        height: 15px;
        bottom: -25px;
    }

    .controls {
        width: auto;
    }

    .navigation-slide {
        bottom: 60px;
    }

    .create-tabs > md-tabs-wrapper .md-tab:after {
        margin-bottom: 0;
    }

    md-card buildquestion.question-slide, md-card question.question-slide {
        padding-top: 22px;
    }

    .question-type .content {
        overflow-x: auto;
    }

        .question-type .content .content_container {
            width: auto;
        }

    md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
        height: 94vh;
    }

    .apply-questions-container {
        height: 55vh;
    }

    .basic.mustanswer {
        display: block;
    }

    .publish-panel + ng-include > form {
        width: 92%;
        margin-left: 4%;
        height: 84vh;
    }

        .publish-panel + ng-include > form .progressContainer {
            width: 100%;
        }

        .publish-panel + ng-include > form .nextprev {
            right: 8%;
        }
}

@media all and (max-width:1150px) {
    .more-options li span {
        display: none;
    }

    .more-options ul {
        margin-left: 13%;
    }
}
@media screen and (min-width: 1024px) {
    .apply-questions-container {
        height: 63vh;
    }
    .navigation-slide {
        bottom: 60px;
    }
    .navigation-slide md-card {
        width:55px;
    }
}
@media screen and (min-width: 1200px) {
    .apply-questions-container {
        height: 62vh;
    }
    .build {
        padding: 3.2vh 40px;
    }
    .navigation-slide {
        bottom: 40px;
    }
    .navigation-slide md-card {
        width:70px;
    }
}
@media screen and (min-width: 1400px) {
    .apply-questions-container {
        height: 68vh;
    }
    .navigation-slide {
        bottom: 20px;
    }
    .navigation-slide md-card {
        width:82px;
    }
}
@media screen and (min-width: 1600px) {
    .navigation-slide {
        bottom: 0px;
    }
    .navigation-slide md-card {
        width:99px;
    }
}

.upload-options {
    height: 164px;
    overflow-y: scroll;
    width: 100%;
}

.navigating_blocks md-card {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.md-dialog-is-showing .apply-questions-container .flipBasic .md-dialog-backdrop + div + md-card {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

ul.dropdown-menu {
    padding: 0 0;
}

.dropdown-menu li.divider {
    margin: 0;
}

ul.dropdown-menu a.dropdown-item {
    padding: 16px;
}

@media screen and (max-width:1023px) and (min-width:768px){
        .apply-questions-container {
        height: 73vh;
    }
    .navigation-slide .add-slide {
        left: calc(100vw - 90px);
    }
    .navigation-slide md-card {
        width:73px;
    }

}
@media screen and (max-width:1023px) {
    .mobile-project-title {
        display:none;
    }
    .experience-screen{
        display:initial;
    }
    .publish-panel + ng-include question.active {
        /* top: 8vh; */
    }

    .publish-panel + ng-include question.question-slide {
        height: 60vh;
    }

    .publish-panel + ng-include question.next_active {
        top: 60vh;
    }

    .publish-panel + ng-include question.next_next_active {
        top:66vh;
    }

    flip-panel .inputContainer {
        max-height: 135px;
        overflow: hidden;
        overflow-y: scroll;
        height: auto;
    }

    .navigation-slide .inputContainer {
        height: auto;
        max-height: 70px;
        overflow: hidden;
    }

    .navigation-slide md-card {
        height: 8.997vh;
    }

    .navigation-slide .cover-page, .navigation-slide .app-submit-page {
        height: 8.5vh;
    }
}

@media screen and (max-width:1100px) and (orientation:potrait) {
    .mobile-project-title {
        display:none;
    }
    .experience-screen{
        display:initial;
    }
    .publish-panel + ng-include question.active {
        /* top: 8vh; */
    }

    .publish-panel + ng-include question.question-slide {
        height: 60vh;
    }

    .publish-panel + ng-include question.next_active {
        top: 60vh;
    }

    .publish-panel + ng-include question.next_next_active {
        top:66vh;
    }

    flip-panel .inputContainer {
        max-height: 135px;
        overflow: hidden;
        overflow-y: scroll;
        height: auto;
    }

    .navigation-slide .inputContainer {
        height: auto;
        max-height: 70px;
        overflow: hidden;
    }

    .navigation-slide md-card {
        height: 8.997vh;
    }

    .navigation-slide .cover-page, .navigation-slide .app-submit-page {
        height: 8.5vh;
    }
}

@media(max-width:767px) {
    md-tooltip {
        display: none !important;
    }
    ng-include .nextprev {
        bottom:20px
    }
    .publish-panel + ng-include > form{
        margin-top: 0;
        position: relative;
        display: block;
        overflow: hidden;
        height: 77vh;
    }
    .publish-panel{
        position:static;
    }
}

.drag-over {
    transform: scale(1.2);
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}


/*******Context Menu Tool******/
ul.tools {
    display: none;
    list-style: none;
    box-shadow: 0px 0px 4px rgba(0,0,0,.5);
    border: solid 1px #000;
    position: absolute;
    background: #fff;
    padding: 0;
}

    ul.tools li {
        width: auto;
        border: solid 1px #000;
        margin: 5px;
        padding: 5px 10px;
        cursor: pointer;
    }

        ul.tools li:hover {
            background-color: rgb(129,199,132);
            color: #fff;
        }
/*******Context Menu Tool******/

md-progress-circular + .counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*****Table Styles*****/
.build .table {
    display: table;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
}

.build .tablerow {
    display: table-row;
}

.build .tablecell {
    display: table-cell;
    border: 0.05px solid #d2d2d2;
    border-collapse: collapse;
    border-bottom: 0px;
    padding: 15px 5px;
}

.build .tablerow:nth-child(odd) {
    background-color: #d2d2d2;
}

.build .tablerow:first-child {
    background-color: #d2d2d2;
}

.build .tablerow:nth-child(even) {
    background-color: #fff;
}
/*****Table Styles*****/

.calculatedvariable .layout-row [flex] {
    padding: 0 15px;
}

.calculatedvariable .operation {
    width: 30px;
    height: 30px;
    border: 1px solid #d2d2d2;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    float: left;
    margin: 5px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    cursor: pointer;
}

    .calculatedvariable .operation:nth-child(odd) {
        clear: left;
    }

.calculatedvariable .calculations {
    width: 66%;
    vertical-align: top;
    text-decoration: none;
    max-width: 100px;
}

.calculatedvariable .operators {
    width: 34%;
}

.answerof .tablecell {
    cursor: pointer;
}

.chip {
    padding: 5px;
    border: 1px solid #d2d2d2;
    background-color: #D9EBBC;
    padding-right: 27px;
    position: relative;
    margin: 5px;
    display: inline-block;
}

.removeChip {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    border: 1px solid #000;
    font-size: 13px;
    cursor: pointer;
}

/********Build Popup generic********/
.create-tabs md-tab-content > .md-dialog-container md-dialog {
    max-width: 100%;
    max-height: 100vh;
    width: 100%;
    background-color: rgba(255,255,255,.6);
}

.buildpopup .via_progressbar button {
    width: 80px;
}

.buildpopup .more-options li, .buildpopup .project-title {
    visibility: hidden;
}

    .buildpopup .more-options li.club {
        visibility: visible;
    }

.buildpopup .via_progressbar p, .buildpopup .via_progressbar md-icon {
    display: inline-block;
}

.buildpopup .via_progressbar button {
    width: 80px;
}

.buildpopup .more-options li.club {
    visibility: visible;
}

.buildpopup .via_progressbar p, .buildpopup .via_progressbar md-icon {
    display: inline-block;
}

.buildpopup .via_progressbar {
    width: 32%;
    margin: auto;
    margin-bottom: 40px;
    background: #fff;
    text-align: center;
    border-radius: 10%;
    margin-top: 10px;
}

.buildpopup {
    width: 100%;
    height: 100vh;
    padding: 50px;
    background: rgba(64, 64, 64, 0.41);
}

    .buildpopup .inner_layout {
        position: relative;
    }

        .buildpopup .inner_layout .close-tab {
            position: absolute;
            right: 0;
            top: 0;
            margin: 5px 0;
            background-color: #fff;
            padding: 5px;
            border-radius: 50%;
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
        }

    .buildpopup ng-include.popupcontainer {
        display: inline-block;
        width: 100%;
        height: 68vh;
        margin-top: 2vh;
    }

formsettings md-content {
    background: #fff !important;
}

formsettings ng-include [layout="row"] {
    position: relative;
    padding: 10px 0;
}
/********Build Popup generic********/

/****Add Via Slide***/
.codeedit_via {
    width: 49%;
    float: left;
    background: #fff;
    height: inherit;
    position: relative;
    margin-right: 1%;
    overflow: hidden;
}

    .codeedit_via textarea {
        width: 100%;
        height: 100%;
        border: 1px solid #EEEEEE;
        box-shadow: 1px 1px 0 #DDDDDD;
        display: block;
        font-family: 'Roboto';
        font: normal 14px verdana;
        line-height: 26px;
        resize: none;
        background-image: -moz-linear-gradient(top, transparent, transparent 49px,#E7EFF8 0px);
        background-image: -webkit-linear-gradient(top, transparent, transparent 25px,#E7EFF8 0);
        -webkit-background-size: 100% 50px;
        background-size: 100% 26px;
    }

.option_via, .preview_via .run {
    position: absolute;
    top: 0;
    right: 0;
}

.preview_via {
    width: 49%;
    float: left;
    background: #fff;
    height: inherit;
    margin-left: 1%;
    position: relative;
    background-image: url('../asset/img/no_preview.jpg');
    background-repeat: no-repeat;
    background-position:center;
}

    .preview_via iframe {
        border: none !important;
    }

.addvia_sectionblock {
    position: relative;
    overflow: hidden;
    height: inherit;
}

.cancel_save_via {
    margin-top: 20px;
    text-align: center;
}
/****Add Via Slide***/

/*make quiz*/

.quiz_layout {
    width: 100%;
    height: 100vh;
}

.quiz_Setting {
    width: 40%;
    float: left;
    background: #fff;
    padding: 12px;
}

.quiz_Edit {
    width: 59%;
    float: left;
    margin-right: 1%;
    background: #fff;
    /* border: 1px solid black; */
}

    .quiz_Setting md-input-container, .quiz_Edit md-input-container {
        margin-top: 0px;
    }

    .quiz_Edit md-checkbox {
        margin-top: 10px;
    }

.quiz_score {
    margin-bottom: 10px;
    border-bottom: 2px solid #f2f2f2;
}

    .quiz_score span {
        font-size: 20px;
        margin-right: 10px;
    }

.quiz_result {
    margin-top: 20px;
}

.quiz_setting_checkbox {
    margin-top: 18px;
    border-bottom: 2px solid #f2f2f2;
}

    .quiz_setting_checkbox md-checkbox {
        margin-right: 0;
        margin-bottom: 0;
        padding: 10px;
    }
/*make quiz*/

/****actions table****/
.actions-table .table-head {
    padding: 10px 20px;
    background-color: #EEEEEE;
    border: 1px solid #E4E4E4;
}

.actions-table .table-row {
    padding: 10px 20px;
    border: 1px solid #E4E4E4;
    border-top: none;
}

.actions-table button.md-icon-button {
    margin: 0;
    padding: 0;
    height: 24px;
    vertical-align: top;
    min-height: 0;
    /* width: 24px; */
    /* min-width: 0; */
}
/****actions table****/


.search-box input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 20px;
    padding-left: 40px;
    position: relative;
    background-image: url('../asset/img/md-icons/svg/ic_search_black_24px.svg');
    background-repeat: no-repeat;
    background-position: 10px 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    .search-box input:after {
        content: 'O';
        position: absolute;
        left: 0;
        top: 0;
    }

.search-box {
    border-radius: 5px;
}


/******Work Flow*******/

.workflow_layout {
    width: 100%;
    height: inherit;
}

.workflow_left_table {
    width: 59%;
    float: left;
    background: #fff;
    box-sizing: border-box;
    overflow: hidden;
    height: inherit;
    overflow-y: scroll;
}

.workflow_right_table {
    width: 40%;
    float: left;
    background: #fff;
    padding: 12px;
    margin-left: 1%;
    box-sizing: border-box;
    overflow: hidden;
    height: inherit;
    overflow-y: scroll;
}

.workflow_inner_layout {
    width: 100%;
}

.left_slide_workflow {
    float: left;
}

.right_slide_workflow {
    float: right;
    margin-left: 5px;
}

    .right_slide_workflow.active {
        color: rgb(76,175,80);
    }

.workflow_checkbox_block {
    border: 1px solid #e4e4e4;
    border-radius: 10px;
}

    .workflow_checkbox_block md-checkbox {
        border-bottom: 1px solid #e4e4e4;
        margin-right: 0;
        margin-bottom: 0;
        padding: 10px;
    }

        .workflow_checkbox_block md-checkbox:last-of-type {
            border: none;
        }

.private_workflow {
    position: relative;
    overflow: hidden;
}

.workflow_layout .workflow_right_table h3 {
    margin-top: 0;
    margin-bottom: 18px;
}

.workflow_left_table tr td {
    text-align: center;
}

.workflow_right_table .workflow_checkbox_block .md-container {
    margin-left: 10px;
}

.workflow_checkbox_block .mdcheckbox .md-label {
    width: 95%;
}

    .workflow_checkbox_block .mdcheckbox .md-label .number_private {
        float: right;
        color: hotpink;
    }

.conditional_flow p {
    display: inline-block;
    margin: 0;
    /* height: 30px; */
    vertical-align: top;
}

.conditional_flow md-switch {
    display: inline-block;
    margin: 0;
    margin-left: 120px;
}

.conditional_flow {
    margin-top: 40px;
    border-top: 1px solid #e2e2e2;
    padding-top: 30px;
}

.execute .layout-row [flex] {
    padding-right: 3%;
}

.private_workflow {
    position: relative;
    overflow: hidden;
}

.workflow_left_table .btn-danger, .workflow_left_table .btn-default {
    background: transparent;
    border: 0px;
    color: #000;
}

.add-slide-workflow {
    box-shadow: none;
}

.answer_block {
    border-bottom: 2px solid #f2f2f2;
    margin-top: 13px;
}

.slide-visibility-table, .email-notification-table {
    padding: 20px 0;
    border-top: 1px solid #e2e2e2;
}
/******Work Flow*******/



/*formsettings*/

.form_set_items ul {
    list-style: none;
    padding-left:0px;
}

.form_set_items ul li {
    height: 40px;
    margin-bottom: 2px;
    background: #fff;
    padding: 12px;
}

.form_set_items ul li.active {
    background-color: rgb(76,175,80);
}

.form_set_items {
    width: 26%;
    float: left;
    margin-right: 3%;
}

.form_set_items_display {
    width: 70%;
    float: left;
    background: #fff;
}

.formsettings_layout .popup_layout {
    padding: 0;
}

.modalpop{background-color:light-grey;/* border:2px solid grey; */display:block;position: absolute;padding:45px;border-radius: 5px;width: 40vw;background: #FFf;
          display: inline-block;box-shadow: 5px 5px 5px #d2d2d2;border-radius: 10px;top: 33%;left: 62%;transform: translate(-50%,-50%);}

.modalpop .search-box input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 20px;
    padding-left: 40px;
    position: relative;
    background-image: url('../asset/img/md-icons/svg/ic_search_black_24px.svg');
    background-repeat: no-repeat;
    background-position: 10px 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modalpop .search-box input:after {
    content: 'O';
    position: absolute;
    left: 0;
    top: 0;
}

.modalpop .search-box {
    border-radius: 5px;
	width: 100%;
	

	
}

.modalpop .search_pop {
    border: 1px solid #d2d0d0;
    width: 100%;
    border-radius: 5px;
    position: static;
    display: inline-block;
}
.modalpop .btn{
    float:right;
}
/******tab specific******/
.create-tabs #tab-content-2 {
    height: 96vh;
    max-height: 100vh !important;
    overflow: hidden;
}
.create-tabs #tab-content-2 > .md-dialog-container {
    top:0!important;
}



/*Form Settings/ audience_popup*/
.audience_layout {
    padding: 40px;
}

    .audience_layout .sharelink_block {
        width: 100%;
        display: inline-block;
    }

    .audience_layout .Auidience_text {
        width: 50%;
        float: left;
    }

        .audience_layout .Auidience_text h3 {
            margin-bottom: 0;
        }

.audience_type {
    width: 40%;
    float: left;
    background: #fff;
    padding: 12px;
}

.audience_type {
    white-space: nowrap;
}


/*General_Form*/
.generalForm_layout, .slide_layout {
    padding: 40px;
}

.general_table {
    margin: 0;
    top: 0;
}

.general_table md-input-container {
    margin-top: 0;
}

/*emailform*/
.email_layout {
    padding:40px;
}

.email_table .table-head {
    padding: 10px 20px;
    background-color: #EEEEEE;
    border: 1px solid #E4E4E4;
}

.email_table .table-row {
    padding: 10px 20px;
    border: 1px solid #E4E4E4;
   
}

.email_table button.md-icon-button {
    margin: 0;
    padding: 0;
    height: 24px;
    vertical-align: top;
    min-height: 0;
    /* width: 24px; */
    /* min-width: 0; */
}





/*emailNotificationForm*/
.emailLayout {
    width: 100%;
    height: inherit;
}

.email_left {
    width: 79%;
    float: left;
    background: #fff;
    box-sizing: border-box;
    overflow: hidden;
    height: inherit;
    /* background-color: #f2f2f2; */
}

.email_right {
    width: 20%;
    float: left;
    background: #fff;
    padding: 12px;
    margin-left: 1%;
    box-sizing: border-box;
    overflow: hidden;
    height: inherit;
    background-color: #F3F3F3;
}

.cancel_save {
    text-align: center;
    margin-left: 300px;
    float: right;
}

.emailLayout .md-button.md-mytheme-theme.md-primary.md-raised, .md-button.md-mytheme-theme.md-primary.md-fab {
    color: rgb(255,255,255);
    background-color: rgb(76,175,80);
}

.email_right .answer ul {
    padding-left: 0;
}

.answer label {
    font-size: 1.2em;
    font-weight: lighter;
    padding: 5px 0;
}

email_left textarea {
    border: 0px 2px 5px 1px solid;
    height: inherit;
    width: inherit;
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    border-left: none;
    border-right: none;
}

.email_left label {
    font-size: 18px;
    font-weight: 400;
}

.answer {
    margin-bottom: 5px;
    border-bottom: 5px;
}

.answer ul li {
    list-style: none;
    padding: 8px 5px;
    display: block;
    margin-bottom: 1px;
    background-color: #FBFBFB;
}
/*emailNotificationForm*/



/*Slide/Accces table*/

.slide_window {
    padding: 6px 0;
    /* width: 50%; */
    text-transform: capitalize;
    margin-left: 34px;
}

    .slide_window p {
        font-size: 0.9em;
    }

    .slide_window h3 {
        font-weight: bold;
    }

.access-table .table-head {
    padding: 10px 20px;
    background-color: #EEEEEE;
    border: 1px solid #E4E4E4;
}

.access-table .table-row {
    padding: 10px 20px;
    border: 1px solid #E4E4E4;
    border-top: none;
}

.access-table button.md-icon-button {
    margin: 0;
    padding: 0;
    height: 24px;
    vertical-align: top;
    min-height: 0;
    /* width: 24px; */
    /* min-width: 0; */
}
/*share and embed pop up*/
/*Publishpop*/
.share_layout {
    padding: 40px;
}

.share_layout .sharelink_block, .share_layout .embedlink_block {
    width: 100%;
    display: inline-block;
}

.share_layout .share_text, .share_layout .share_text_url, .share_layout .embed_text_url, .share_layout .embed_text {
    width: 50%;
    float: left;
}

.share_layout .share_text h2, .share_layout .embed_text h2 {
    margin-bottom: 0;
}

.share_layout .embedlink_block h2 {
    margin-top: 0;
}

.embedlink_block {
    margin-top: 50px;
}

.checkbox-block {
    margin-top: 40px;
    margin-bottom: 40px;
}

@media screen and (max-width:767px) {
.share_layout .share_text, .share_layout .share_text_url, .share_layout .embed_text_url, .share_layout .embed_text {
    width: 100%;
    float: none;
}

.share_layout .share_text_url md-input-container, .share_layout .share_text_url button {
    display: inline-block;
}
}

/*body > ng-view ~ .md-dialog-container .md-transition-in {
    background: #fff;
    color: #000;
}*/

/*Processing Form*/
.processing_layout{
    padding:25px;
}
.Calculated {
    background-color: #7f1db1;
    padding: 6px;
    height: 130px;
    color: white;
    margin-right: 11px;
}
.Docgen{
    background-color: #72a032d9;
    padding: 3px;
    height: 130px;
    color: white;
    margin-right: 11px;
}
.DocScan{
    background-color: #6ddee8;
    padding: 6px;
    height: 130px;
    color: white;
    margin-right: 11px;
}

.Url{
    background-color: #7c8ca9;
    padding: 6px;
    height: 130px;
    color: white;
   
}
.templateEdit{
}
.templateEdit .actions-table {
    padding:5px;
}


    .templateEdit .table-row {
        padding: 10px 5px;
        border: 1px solid #E4E4E4;
    }
.color-section md-icon.md-mytheme-theme.md-primary {
    color: rgb(238, 242, 239);
}

/*Calculated Variable Popup*/
.Calculate_Popup {
    background-color: white;
    /* width: 70%; */
    position: absolute;
    /* display: inline-block; */
    margin-top: 4%;
    margin-left: -2%;
    width: 71%;
    position: absolute;
    padding: 0;s
}
.inner_content {
background-color:white;
padding:20px;
}
.doc_section  {
    display:flex;
}


.type_variable {
    margin-top: 20px;
}
.type_variable h4{
    display:inline-block;
}


.type_variable md-input-container {
    display: inline-block;
    margin: 0;
    margin-left: 300px;
}

.variable_setting{
    margin-top:40px;
}
.left_varible {
    display: inline-block;
   width:50%
}
 .left_varible .actions-table .table-head {
      border-radius:8px 8px 0 0;
}
    
.right_varible {
        display: inline-block;
        width: 50%;
        margin-left: 20px;
       
}
.right_varible .actions-table .table-head {
    border-radius: 8px 8px 0 0;
}
.left-table-cell .table-row {
    border: none;
    /* width: 22%; */
    text-align: center;
    display: inline;
    padding:5px;
   
}
.right-table-cell {
   border-left:1px solid #E4E4E4;
    margin-left:120px;
    float: left;
    width:25vh;
   

}  
 .right-table-cell .table-row{
     border:none;
 }
.cancel_save_variable {
        align-content: center;
        margin-left: 200px;
        margin-top: 20px;
        color: white;
    }
.cancel_save_variable .md-button{
    background-color:grey;
}

/*Docgen Popup*/
.Docgen_Popup {
    background-color: white;
    /* width: 70%; */
    position: absolute;
    /* display: inline-block; */
    margin-top: 4%;
    margin-left: -2%;
    width: 71%;
    position: absolute;
    padding: 0;
    height:450px;
    
}

.cancel_save_variable {
    align-content: center;
    margin-left: 200px;
    margin-top: 20px;
    color: white;
}

 .cancel_save_variable .md-button {
        background-color: grey;
 }

/*Docscan_Popup */
.Docscan_Popup {
    background-color: white;
    /* width: 70%; */
    position: absolute;
    /* display: inline-block; */
    margin-top: 4%;
    margin-left: -2%;
    width: 71%;
    position: absolute;
    padding: 0;
    height: 450px;
}

.Url_Popup {
    background-color: white;
    /* width: 70%; */
    position: absolute;
    /* display: inline-block; */
    margin-top: 4%;
    margin-left: -2%;
    width: 71%;
    position: absolute;
    padding: 0;
    height: 450px;
}

/*Generate_doc */
.document_section {
    background-color: #efefef;
}

.document_section_inner {
    background-color: #ada8a8;
    width: 815px;
    height: 500px;
    margin-left: 125px;
}

.cancel_save_section {
    padding: 5px;
    margin-top: 60px;
    margin-left: 70px;
}
/*
.document_section .md-button.md-mytheme-theme.md-primary.md-raised, .md-button.md-mytheme-theme.md-primary.md-fab {
    color: rgb(255,255,255);
    background-color: rgb(76,175,80);
}

.document_section .md-button.md-raised hue-2 .md-button, .md-mytheme-theme.md-ink-ripple {
    color: rgb(255,255,255);
    background-color: grey;
}
*/
.line .input[type=text] {
    width: 100%;
    border: none;
    border-bottom: 2px solid grey;
}

.line.md-input-container.md-input {
    display: block;
    margin-top: 0;
    background: none;
    padding: 2px 2px 1px;
    border-width: 0 0 1px;
    line-height: 26px;
    height: 30px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    box-sizing: border-box;
    float: left;
}

.document_section_inner .Property {
    display: flex;
}

.document_section_inner .input_line {
    display: flex;
}

.line1 {
    display: flex;
}

.first-row {
    display: flex;
}

/********Accordian*******/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.content-wrap{
  position: absolute;
  top: 213px;
  left: 15px;
  right: 15px;
  bottom: 10px;
}

.no-padding-left{
  padding-left: 0px;
}

.clickable{
  cursor: pointer;
}

blockquote{
  text-align: justify;
}

.full-height{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.scrollable{
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.drop-icon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 18px;
}

.drop-icon-wrapper i{
  transition: 0.3s transform;
  transform: rotate(0deg);
  font-weight: 100;
  margin-right: 15px;
}

.active-header .drop-icon-wrapper i{
  transform: rotate(180deg); 
}

.sir-accordion-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
  display: block;
}

.sir-accordion-wrapper>div+div {
  /* border-top: 1px solid #EEE; */
}

.sir-accordion-group{
  overflow: hidden;
  width: 100%;
  padding-left: 15px;
  /* border-left: 2px dotted #d3d3d3; */
}

.sir-accordion-group>div+div {
  /* border-top: 1px solid #EEE; */
}

.sir-accordion-header{
  height: 40px;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 2px;
  color: #999999;
  position: relative;
  z-index: 1;
  padding: 0 15px;
  outline: none;
}

.sir-accordion-header.active-header{
  font-weight: bold;
}

.sir-accordion-content{
  overflow: hidden;
  /* padding-left: 15px; */
}

.sir-accordion-content > div{
  height: 0px;
}

.sir-accordion-content > div > div{
  overflow: auto;
}

.sir-accordion-vertical-align{
  height: 100%;
}

.sir-accordion-vertical-align:before{
  content: '';
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}

.sir-accordion-vertical-align > * {
  margin: 0;        
  vertical-align: middle;
  display: inline-block;
}

.main-settings .title a {
    color: #999999;
    font-size: 22px;
    width: 100%;
    text-decoration: none;
    padding: 10px 5px;
    outline:none;
}
.main-settings .content {
    height: 40px;
    display: table;
    width: 100%;
    padding: 0 15px;
    border-left:4px solid #252525;
    outline:none;
}

.main-settings .content:hover{
    background-color:#333;
    box-sizing:border-box;
    border-left:4px solid rgb(129,199,132)
}

.main-settings .content a{
    color:#999999;
    display: table-cell;
    vertical-align: middle;
    text-decoration:none;
}
.sir-accordion-wrapper > div {
    /* padding: 0 15px; */
    background: #252525;
}

/********Accordian*******/