[contenteditable] {
    text-decoration:underline;
}
.build-page .md-card {
    height:100vh;
}
.md-card .progressContainer {
    position: relative;
    display: inline-block;
}

.apply-questions-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 71vh;
}
.apply-questions-container flip {
    position: absolute;
    left: 1000px;
    width: 100%;
    margin:0 0;
    -webkit-transition: left .2s ease-out;
    height: 73vh;
}
.apply-questions-container flip flip-panel:first-child{
    z-index:999;
}
.apply-questions-container md-card {
    margin: 3px;
}
.apply-questions-container .slideactive{
    left:0;
}
.navigation-slide .slideactive{
    border:2px solid rgb(129,199,132);
}

.apply-questions-container .slideleft {
    left: -1000px;
}

.controls {
    position: absolute;
    right: 15px;
    bottom: 30px;
}

.controls md-icon {
    padding: 6px;
    width: 30px;
    height: 30px;
    background-color: rgba(0,0,0,0.54);
    color: #fff;
    border-radius: 50%;
    margin-left: 10px;
}

settings .md-tab {
    padding:12px 0;
    width:50%;
    font-size:0.9em;
    text-transform:capitalize;
}
settings md-tabs-canvas md-ink-bar {
    background: #7BCD6E !important;
}
.navigation-slide{
    position: relative;
    height: 13vh;
    bottom: 0;
    width: 300000px;
}
.navigation-slide md-card:first-child {
    margin-right: 1px;
    float:right;
}
.navigation-slide md-card:nth-child(2) {
    margin-left: 1px;
}
.navigation-slide md-card{
    width: 0.016%;
    float: left;
    height: 80%;
    margin: 3px;
    outline: none;
    /* position: absolute; */
    box-sizing: border-box;
}

.navigation-slide question.question-slide {
    padding: 4%;
    transform-origin: 0 0;
}

.navigation-slide question.question-slide .questionPanel{
    transform: scale(.2);
    transform-origin: 0 0;
    position: absolute;
    top: 15px;
    width: 456%;
    overflow: hidden;
}

.navigation-slide .add-slide {
    position: absolute;
    left: calc(100vw - 70px);
    z-index: 999;
}
.navigation-slide .add-slide md-icon
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%,-50%);
}

.navigation-slide md-card.slideactive {position: relative;}

.navigation-slide md-card.slideactive:after {
    content:'.';
    position:absolute;
    bottom: -49px;
    font-size: 90px;
    left: 50%;
    color: rgb(129,199,132);
    transform: translateX(-50%);
}

/*******Overrides for question slide******/
md-card buildquestion.question-slide, md-card question.question-slide {
    position: static;
    transition: none;
    height:70vh;
    padding-top:30px;
    width: 100%;
}
md-card settings {
    height:70vh;
}

.type {
    position: absolute;
}

md-card buildquestion .questionPanel .answerContainer, md-card question .questionPanel .answerContainer {
    opacity: 1;
}
md-dialog {
    max-width: 95%!important;
    width: 95%;
    background-color: rgba(0,0,0,0.8);
    color:#fff;
}
md-dialog .type-layout {
    width:100%;
    height:70vh;
}

md-dialog .type-layout md-icon{
    color:#fff;
    display:block;
}

.field-type .flex {
    padding: 8px;
    text-align:center;
}
.field-type .flabel .flex {
    text-align :left;
}
.field-type .content .flex {
    border: 1px solid;
}

md-input-container > label {
    transform: translateY(28px)!important;
}