.inputContainer ng-form {
    display: block;
}
aps-upload-file {
    position: relative;
}
.questionPanel textarea, .publish_layout textarea{
    width: 100%;
    height: 100%;
    display: block;
    font-family: 'Roboto';
    font: normal 14px verdana;
    line-height: 26px;
    resize: none;
    background-image: -moz-linear-gradient(top, transparent, transparent 49px,#E7EFF8 0px);
    background-image: -webkit-linear-gradient(top, transparent, transparent 25px,#E7EFF8 0);
    -webkit-background-size: 100% 50px;
    background-size: 100% 26px;
}
.create-tabs form .submit {
    width:92%;
}
/***Input Styles***/
md-input-container .tick {
    position: absolute;
    right: -40px;
    top: -6%;
}
md-datepicker .md-datepicker-button.md-button.md-icon-button{
    padding-left: 0;
    margin-left: 0;
}
md-datepicker .md-datepicker-input-container {
    width: 135%;
}
md-input-container .md-input-message-animation {
    -webkit-transition: unset;
    transition: unset;
}
/*textarea {  
	background-image: -webkit-linear-gradient(left, white 0px, transparent 0px), -webkit-linear-gradient(right, white 0px, transparent 0px), -webkit-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
	background-image: -moz-linear-gradient(left, white 0px, transparent 0px), -moz-linear-gradient(right, white 0px, transparent 0px), -moz-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-image: -ms-linear-gradient(left, white 0px, transparent 0px), -ms-linear-gradient(right, white 0px, transparent 0px), -ms-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-image: -o-linear-gradient(left, white 0px, transparent 0px), -o-linear-gradient(right, white 0px, transparent 0px), -o-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-image: linear-gradient(left, white 0px, transparent 0px), linear-gradient(right, white 0px, transparent 0px), linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-size: 100% 100%, 100% 100%, 100% 31px;
}*/
/***Input Styles***/
md-checkbox {
    display:block;
}
md-checkbox.md-checked.green .md-icon {
 background-color: #69af4a;
}

md-input-container .md-errors-spacer {
    position: absolute;
    right: -25px;
    bottom: -24px;
}
md-input-container {
    margin-bottom: 0;
    width: 70%;
    margin-top: 30px;
    max-width: 200px;
}
.inputContainer.calendar_class {
    margin-bottom: 0;
    width: 70%;
    margin-top: 10px;
    max-width: 200px;
    position:relative;
}
user-card md-icon {
    height: 80px;
    width: 80px;
}
user-card md-card{
    margin:0 0;
    border-radius:0;
}
aps-upload-file.ng-scope {
    position: relative;
}
.md-button.md-icon-button.attach {
    position: absolute;
    right: -35px;
    padding: 0;
    height: 20px;
    bottom: -25px;
    cursor: pointer;
}
.md-input-messages-animation.ng-animate.ng-hide-animate {
    position: absolute;
    bottom: -15px;
}

button.md-datepicker-button.md-icon-button.md-button {
    position: absolute;
    right: -90px;
    top: 0px;
}

.md-datepicker-input-container {
    margin-left: 0px!important;
}

.md-datepicker-triangle-button {
    opacity: 0;
}

/*****Error Workaround****/
md-input-container .md-auto-hide .md-input-message-animation:not(.ng-animate), md-input-container .md-input-message-animation.ng-enter, md-input-container:not(.md-input-invalid) .md-auto-hide .md-input-message-animation {
  opacity: 1;
  margin-top: 0px;
}

.ng-messages-fix{
  visibility: hidden;
}
/*****Error Workaround****/

/****** Style Star Rating Widget *****/
.star-rating {
    display: inline-block;
    width: 100%;
}

fieldset, label {
    margin: 0;
    padding: 0;
}

.rating {
    border: none;
    float: left;
}

.rating input {
    display: none;
}

.rating label:before {
    margin-right: 10px;
    font-size: 3.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}
@media all and (max-width:340px){
    .rating label:before {
    margin-right: 3px;
}
}
.rating .half:before {
    content: "\f089";
    position: absolute;
}

.rating label {
    color: #ddd;
    float: right;
}
.rating > .ng-scope{
    float:right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

   
.rating .activestar > label,
.rating .activestar ~ div label, /* show gold star when clicked */
.rating:not(:checked) label:hover, /* hover current star */
.rating:not(:checked) label:hover ~ label {
    color: #FFD700;
}

.rating .activestar > label,
.rating .activestar ~ div label{
    animation:scaletofit 0.5s both ease-in;
}
/* hover previous stars in list */

.rating input:checked + label:hover, /* hover current star when changing rating */
.rating input:checked ~ label:hover,
.rating label:hover ~ input:checked ~ label, /* lighten current selection */
.rating input:checked ~ label:hover ~ label {
    color: #FFD700;
}

/****** End of Style Star Rating Widget *****/

/****** Smiley Rating *****/
.smiley-rating {
    display: inline-block;
    width: 100%;
}

    .smiley-rating .smiley div {
        float: left;
    }

.smiley {
    display: inline-block;
    width: 60px;
    height: 55px;
    margin-right: 5px;
}

.smiley_content {
    text-align: center;
    font-family:'Optima';
    font-weight:bold;
    float:left;
}

.verypoor {
    background: transparent url('../asset/img/verypoor.png' ) no-repeat center;
}

.poor {
    background: transparent url('../asset/img/poor.png' ) no-repeat center;
}

.average {
    background: transparent url('../asset/img/avg.png' ) no-repeat center;
}

.good {
    background: transparent url('../asset/img/good.png' ) no-repeat center;
}

.excellent {
    background: transparent url('../asset/img/excellent.png' ) no-repeat center;
}

.verypoor.activeSmiley {
    background: transparent url('../asset/img/verypoor_active.png' ) no-repeat center;
}

.poor.activeSmiley {
    background: transparent url('../asset/img/poor_active.png' ) no-repeat center;
}

.average.activeSmiley {
    background: transparent url('../asset/img/avg_active.png' ) no-repeat center;
}

.good.activeSmiley {
    background: transparent url('../asset/img/good_active.png' ) no-repeat center;
}

.excellent.activeSmiley {
    background: transparent url('../asset/img/excellent_active.png' ) no-repeat center;
}
/****** End of Smiley Rating *****/
/****** Size Styling *****/
.size-chart ul {
    display: inline-block;
    padding: 0px;
    border-radius: 5px;
    border: 2px solid #eaeaea;
    width:100%;
    margin-bottom:0px;
    -moz-box-shadow: inset 0 0 10px #eaeaea;
    -webkit-box-shadow: inset 0 0 10px #eaeaea;
    box-shadow:         inset 0 0 10px #eaeaea;
}

.size-chart ul li {
    list-style: none;
    float: left;
    width:20%;
    position: relative;
    outline: none;
    border-left: 1px solid #eaeaea;
    background-color:#fcfcfc;
    /*box-shadow:inset 0 0 20px #eaeaea;*/
}

.size-chart ul li:first-child {
    border-left: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.size-chart ul li:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.size-chart ul li p {
    padding: 8px 35%;
    margin: 0;
    text-align:center;
    font-weight:bold;
    font-family:'Optima';
    font-size:18px;
}

.size-chart li.active {
    background-color: #000;
    color: #fff;
}
/****** End of Size Styling *****/
/****** image-product-type Styling *****/
.image-product-type {
    overflow:hidden;
    overflow-x: scroll;
}
.top-row {
    width:300%
}

.image-product-type .products img {
    height: auto;
    width: 100%;
}

.image-product-type .products .selected-icon {
    display: none;
}

.image-product-type .products .selected-icon {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
}

.image-product-type .products {
    float: left;
    position: relative;
    border-left: 1px solid #b2b2b2;
    border-top: 1px solid #b2b2b2;
    width: 200px;
    height: 100px;
}

.products p {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
    background-color:rgba(0,0,0,0.8);
    opacity: 0.7;
    color: #fff;
}

.image-product-type .products.active {
    border: 2px solid green;
    background: transparent url('../asset/img/avg.jpg' ) no-repeat;
}

    .image-product-type .products.active .selected-icon {
        display: block;
    }
/****** End of image-product-type Styling *****/

@-webkit-keyframes scaletofit {
    0%   {-webkit-transform: scale(1);transform: scale(1);}
    25%  {-webkit-transform: scale(1.2);transform: scale(1.2);}
    50%  {-webkit-transform: scale(1.1);transform: scale(1.1);}
    100% {-webkit-transform: scale(1);transform: scale(1);}
}
@keyframes scaletofit {
    0%   {-webkit-transform: scale(1);transform: scale(1);}
    25%  {-webkit-transform: scale(1.2);transform: scale(1.2);}
    50%  {-webkit-transform: scale(1.1);transform: scale(1.1);}
    100% {-webkit-transform: scale(1);transform: scale(1);}
}
