@{
    ViewBag.Title = "Async";
    Layout = "~/Views/Shared/_LayoutAngularAsync.cshtml";
}
<script type="text/javascript">
    $("#header-menu-button").click(function(){ $("#header-links").toggle(); });
</script>
<!-- headend -->
<link href="~/lib/tool/demo.css" rel="stylesheet" />
<link href="../lib/tool/formbuilder.css" rel="stylesheet" />
<script src="../lib/tool/formbuilder.js"></script>

<style>
    body, html {
        margin: 0px;
        overflow: hidden;
    }
</style>

<div id="FormTool" style="width:100%;height:400px;"></div>

<script type="text/javascript">

        var jsn = null;

        $(document).ready(function()
        {
            $('#FormTool').height($(window).height()-80);
            jsn = $("#FormTool").formbuilder();
            jsn.formbuilder('resize');
        });

        $(window).resize(function()
        {
            $('#FormTool').height($(window).height()-80);
            jsn.formbuilder('resize');
        });

</script>
