@{
    Layout = "~/Views/Shared/_LayoutAngular.cshtml";
}
@section Script{
    <script src="~/js/swipe.js"></script>
}
<div class="body-container" ng-controller="mainCtrl" md-theme="mytheme">
    <md-sidenav class="md-sidenav-left main-settings dark" md-component-id="left" md-disable-backdrop md-whiteframe="4" mode="push" md-is-locked-open="isSideNavOpen">
        <md-button class="md-icon-button close" ng-click="toggleLeftMenu()">
            <md-icon md-svg-icon="../asset/img/md-icons/svg/ic_close_black_24px.svg"></md-icon>
        </md-button>
        <md-content layout-margin>
            <div class="title">
                <a href="">Dashboard</a>
            </div>
            <div id="scroller" class="col-xs-12 col-sm-6 full-height scrollable">
                <div id="SAC1" sir-accordion collection="accordionArray" config="accordionConfig"></div>
            </div>
            <md-button class="build md-raised md-primary md-hue-1">Build New PapForm</md-button>
        </md-content>
    </md-sidenav>
    <ng-view class="row experience-screen" ng-init="load()">
    </ng-view>
</div>
