<div layout="row" layout-align="start center">
    <div flex>Accept Only</div>
    <div flex>
        <md-input-container>
            <md-select name="type" ng-model="question.answertype">
                <md-option value="number">Number</md-option>
                <md-option value="text">Text</md-option>
                <md-option value="input_calendar">Date</md-option>
                <md-option value="email">Email</md-option>
                <md-option value="url">URLs</md-option>
            </md-select>
        </md-input-container>
    </div>
</div>
