<div layout="row" layout-align="start center">
    <div flex>Auto Complete</div>
    <div flex>
        <div layout="row" layout-align="start center">
            <div flex>
                <md-switch ng-model="setting.condition" aria-label="Auto Complete"></md-switch>
            </div>
            <div flex>
                <md-input-container>
                    <input type="number" step="any" name="timer" min="1" max="200" ng-model="setting.time" ng-disabled="!setting.condition" aria-label="Auto Complete"/>
                </md-input-container>
            </div>
        </div>
    </div>
</div>
