<div layout="row" layout-align="start center">
    <div flex>{{setting.text}}</div>
</div>

<div class="logic_options" ng-repeat="logic in setting.logic_options">
    <div layout="row" layout-align="start center">
        <div flex="50">Variable name:</div>
        <div flex="50">
            <md-input-container>
                <input type="text" ng-model="logic.name" placeholder="Type variable name" aria-label="{{logic.name}}" />
            </md-input-container>
        </div>
    </div>
    <div layout="row" layout-align="start start">
        <!--<div flex="50">
            <div class="table answerof">
                <div class="tablerow">
                    <div class="tablecell">Answer of</div>
                </div>
                <div class="tablerow" ng-repeat="tempquestion in buildQuestionsObj.questions">
                    <div class="tablecell questionchip" ng-click="addQuestionToCalculation($event, tempquestion)">Question#{{tempquestion.id}}</div>
                </div>
            </div>
        </div>-->
        <div flex="100">
            <div class="ctable" layout="column" layout-align="start start">
                <div class="cheader" flex="100">Calculation</div>
                <div class="crow" layout="row" layout-align="start start">
                    <div flex="80" class="calculations" contenteditable ng-model="logic.calculation" context-menu="menuOptions2()" ng-mousedown="setcursorposition($event)" ng-mouseup="setcursorposition($event)" ng-keydown="setcursorposition($event)" ng-keyup="setcursorposition($event)"></div>
                    <div flex="20" class="operators">
                        <div class="operation addition" ng-click="operation($event,'+')">+</div>
                        <div class="operation subtraction" ng-click="operation($event,'-')">-</div>
                        <div class="operation multiplication" ng-click="operation($event,'*')">*</div>
                        <div class="operation division" ng-click="operation($event,'/')">/</div>
                        <div class="operation opening_bracket" ng-click="operation($event,'(')">(</div>
                        <div class="operation closing_bracket" ng-click="operation($event,')')">)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-click="addAdvanceOption($event,setting.name)" class="advance-option">
    <md-button class="add" md-colors="{background: 'grey'}">Add</md-button>
</div>
