<md-bottom-sheet class="md-list md-has-header enable-media" md-theme="mytheme">
    <md-list ng-cloak>
        <md-list-item ng-repeat="item in items">
            <div class="md-list-item-content" ng-if="item.type == 'link'">
                <md-icon md-svg-src="{{item.icon}}"></md-icon>
                <md-input-container>
                    <input class="md-accent hue-2" name="link" type="text" ng-model="item.src">
                    <md-button class="tick md-icon-button md-primary hue-2" aria-label="Tick" ng-click="listItemClick($index)">
                        <md-icon md-svg-icon="../../asset/img/md-icons/svg/ic_check_circle_black_24px.svg"></md-icon>
                    </md-button>
                </md-input-container>
            </div>
            <md-button ng-click="listItemClick($index)" class="md-list-item-content" ng-if="item.type != 'link'">
                <md-icon md-svg-src="{{item.icon}}"></md-icon>
                <span class="md-inline-list-icon-label" >{{ item.name }}</span>
            </md-button>

        </md-list-item>
    </md-list>
</md-bottom-sheet>