<div layout="column" layout-align="start center">
    <div flex="100" ng-repeat="option in question.options" contenteditable ng-model="option.text">
    <div layout="row" layout-align="start center">
        <div flex>{{option.text}}</div>
    </div>
    {{option.text}}</div>
    <div class="add-option" ng-click="addOption($event)">
        <md-tooltip md-direction="top">Add Options</md-tooltip>
        <md-icon md-svg-icon="../asset/img/md-icons/svg/ic_add_circle_black_24px.svg" class="md-primary md-hue-1"></md-icon>
    </div>
</div>