<label class="text_placeholder" contenteditable ng-model="question.placeholder" style="position: absolute; top: 6px;z-index:999">{{question.placeholder}}</label>
<md-input-container>
    <input class="md-accent hue-2" name="{{question.name}}" ng-pattern="/^.+@.+\..+$/" type="{{question.answertype}}">
    <md-button class="tick md-icon-button md-primary hue-2" aria-label="Tick" ng-click="questionsObj.next()" ng-disabled="true">
        <md-icon md-svg-icon="../../asset/img/md-icons/svg/ic_check_circle_black_24px.svg"></md-icon>
    </md-button>
</md-input-container>