@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PapWork!!!</h2>
<ul>
    <li><a href="/angular/#/experience">Go to Experience</a></li>
    <li><a href="/angular/#/cover">Go to Cover</a></li>
    <li><a href="/angular/#/success">Go to Success</a></li>
    <li><a href="/angular/#/create">Go to Create</a></li>
    <li><a href="/angular/async">Go to Tool</a></li>
</ul>