<div class="addvia_sectionblock">
    <div class="codeedit_via">
        <md-input-container>
            <textarea class="md-accent hue-2" value="" placeholder="Enter Html" name="text"></textarea>
        </md-input-container>
        <div class="option_via">
            <md-button class="md-raised hue-2" aria-label="copy" ng-click="">
                Text
            </md-button>
            <md-button class="md-raised hue-2" aria-label="copy" ng-click="">
                HTML
            </md-button>
        </div>
    </div>
    <div class="preview_via">

    </div>
</div>
<div class="cancel_save_via">

    <md-button class="md-raised hue-2" aria-label="copy" ng-click="reset()">
        Cancel
    </md-button>

    <md-button class="md-raised md-primary hue-2" aria-label="copy" ng-click="">
        Save
    </md-button>
</div>