<div>
    <div class="Payment_layout" md-theme="mytheme">
        <div id="unblurred">
        <div id="box">coming soon..!!</div>
        <div class="Payment">
            <div class="pay_header">
                <div class="flex pay_items">
                    <div class="flex-20">
                        <img src="rupee.png" taget="blank">
                        <div class="flex-50 paytext">Payments</div>
                    </div>
                </div>
            </div>
            <div class="flex">
                <p>Select one of the Payment options.
            </div>
            <div class="Paytype flex">
                <p>Executive Pass</p>
            </div>
            <div class="Paytype flex">
                <p>General Pass</p>
            </div>
            <div class="Paytype flex">
                <p>Premium Pass</p>
            </div>
            <div class="Pay_seletion flex">
                <p>Make a payment</p>
            </div>

           <div class="over_div">
              </div>
        </div>


    </div>
</div>
